/*
Cisco Secure Access Reports

Reporting App Discovery API Usage Metering

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reports

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// PrivateResourceAPIService PrivateResourceAPI service
type PrivateResourceAPIService service

type ApiGetPrivateResourceDetailedStatsIdentitiesRequest struct {
	ctx context.Context
	ApiService *PrivateResourceAPIService
	from *string
	to *string
	limit *int64
	privateresourceid *int64
	offset *int64
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetPrivateResourceDetailedStatsIdentitiesRequest) From(from string) ApiGetPrivateResourceDetailedStatsIdentitiesRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetPrivateResourceDetailedStatsIdentitiesRequest) To(to string) ApiGetPrivateResourceDetailedStatsIdentitiesRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetPrivateResourceDetailedStatsIdentitiesRequest) Limit(limit int64) ApiGetPrivateResourceDetailedStatsIdentitiesRequest {
	r.limit = &limit
	return r
}

// A private resource ID.
func (r ApiGetPrivateResourceDetailedStatsIdentitiesRequest) Privateresourceid(privateresourceid int64) ApiGetPrivateResourceDetailedStatsIdentitiesRequest {
	r.privateresourceid = &privateresourceid
	return r
}

// A number that represents an index in the collection.
func (r ApiGetPrivateResourceDetailedStatsIdentitiesRequest) Offset(offset int64) ApiGetPrivateResourceDetailedStatsIdentitiesRequest {
	r.offset = &offset
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetPrivateResourceDetailedStatsIdentitiesRequest) Timezone(timezone string) ApiGetPrivateResourceDetailedStatsIdentitiesRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetPrivateResourceDetailedStatsIdentitiesRequest) Execute() (*GetPrivateResourceDetailedStatsIdentities200Response, *http.Response, error) {
	return r.ApiService.GetPrivateResourceDetailedStatsIdentitiesExecute(r)
}

/*
GetPrivateResourceDetailedStatsIdentities Get Private Resource Access Statistics in Identity Report

Get detailed identity access statistics for a private resource, including a list of identities, total hits count,
and success or blocked count.

**Access Scope:** Reports > Private Resources > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetPrivateResourceDetailedStatsIdentitiesRequest
*/
func (a *PrivateResourceAPIService) GetPrivateResourceDetailedStatsIdentities(ctx context.Context) ApiGetPrivateResourceDetailedStatsIdentitiesRequest {
	return ApiGetPrivateResourceDetailedStatsIdentitiesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetPrivateResourceDetailedStatsIdentities200Response
func (a *PrivateResourceAPIService) GetPrivateResourceDetailedStatsIdentitiesExecute(r ApiGetPrivateResourceDetailedStatsIdentitiesRequest) (*GetPrivateResourceDetailedStatsIdentities200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetPrivateResourceDetailedStatsIdentities200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrivateResourceAPIService.GetPrivateResourceDetailedStatsIdentities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/private-resources/detailed-stats-identities"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}
	if r.privateresourceid == nil {
		return localVarReturnValue, nil, reportError("privateresourceid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "privateresourceid", r.privateresourceid, "form", "")
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPrivateResourceDetailedStatsTimerangeRequest struct {
	ctx context.Context
	ApiService *PrivateResourceAPIService
	from *string
	to *string
	privateresourceid *int64
	timerange *string
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetPrivateResourceDetailedStatsTimerangeRequest) From(from string) ApiGetPrivateResourceDetailedStatsTimerangeRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetPrivateResourceDetailedStatsTimerangeRequest) To(to string) ApiGetPrivateResourceDetailedStatsTimerangeRequest {
	r.to = &to
	return r
}

// A private resource ID.
func (r ApiGetPrivateResourceDetailedStatsTimerangeRequest) Privateresourceid(privateresourceid int64) ApiGetPrivateResourceDetailedStatsTimerangeRequest {
	r.privateresourceid = &privateresourceid
	return r
}

// A string that represents a range of time. If the header is not set, the header value defaults to &#x60;hour&#x60;.
func (r ApiGetPrivateResourceDetailedStatsTimerangeRequest) Timerange(timerange string) ApiGetPrivateResourceDetailedStatsTimerangeRequest {
	r.timerange = &timerange
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetPrivateResourceDetailedStatsTimerangeRequest) Timezone(timezone string) ApiGetPrivateResourceDetailedStatsTimerangeRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetPrivateResourceDetailedStatsTimerangeRequest) Execute() (*GetPrivateResourceDetailedStatsTimerange200Response, *http.Response, error) {
	return r.ApiService.GetPrivateResourceDetailedStatsTimerangeExecute(r)
}

/*
GetPrivateResourceDetailedStatsTimerange Get Private Resource Access Statistics in Details Report

Get the detailed access statistics for a private resource, including total hits count and success or blocked count in a series of time ranges.

**Access Scope:** Reports > Private Resources > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetPrivateResourceDetailedStatsTimerangeRequest
*/
func (a *PrivateResourceAPIService) GetPrivateResourceDetailedStatsTimerange(ctx context.Context) ApiGetPrivateResourceDetailedStatsTimerangeRequest {
	return ApiGetPrivateResourceDetailedStatsTimerangeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetPrivateResourceDetailedStatsTimerange200Response
func (a *PrivateResourceAPIService) GetPrivateResourceDetailedStatsTimerangeExecute(r ApiGetPrivateResourceDetailedStatsTimerangeRequest) (*GetPrivateResourceDetailedStatsTimerange200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetPrivateResourceDetailedStatsTimerange200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrivateResourceAPIService.GetPrivateResourceDetailedStatsTimerange")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/private-resources/detailed-stats-timerange"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.privateresourceid == nil {
		return localVarReturnValue, nil, reportError("privateresourceid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "privateresourceid", r.privateresourceid, "form", "")
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.timerange != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "timerange", r.timerange, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPrivateResourceStatsRequest struct {
	ctx context.Context
	ApiService *PrivateResourceAPIService
	from *string
	to *string
	limit *int64
	privateresourceids *string
	offset *int64
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetPrivateResourceStatsRequest) From(from string) ApiGetPrivateResourceStatsRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetPrivateResourceStatsRequest) To(to string) ApiGetPrivateResourceStatsRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetPrivateResourceStatsRequest) Limit(limit int64) ApiGetPrivateResourceStatsRequest {
	r.limit = &limit
	return r
}

// A comma-delimited list of private resource IDs.
func (r ApiGetPrivateResourceStatsRequest) Privateresourceids(privateresourceids string) ApiGetPrivateResourceStatsRequest {
	r.privateresourceids = &privateresourceids
	return r
}

// A number that represents an index in the collection.
func (r ApiGetPrivateResourceStatsRequest) Offset(offset int64) ApiGetPrivateResourceStatsRequest {
	r.offset = &offset
	return r
}

func (r ApiGetPrivateResourceStatsRequest) Execute() (*GetPrivateResourceStats200Response, *http.Response, error) {
	return r.ApiService.GetPrivateResourceStatsExecute(r)
}

/*
GetPrivateResourceStats Get Private Resource Access Statistics in Summary Report

Get summary statistics of the hits count, the number of identities that accessed the resources,
and the last access time for a list of private resource IDs.

**Access Scope:** Reports > Private Resources > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetPrivateResourceStatsRequest
*/
func (a *PrivateResourceAPIService) GetPrivateResourceStats(ctx context.Context) ApiGetPrivateResourceStatsRequest {
	return ApiGetPrivateResourceStatsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetPrivateResourceStats200Response
func (a *PrivateResourceAPIService) GetPrivateResourceStatsExecute(r ApiGetPrivateResourceStatsRequest) (*GetPrivateResourceStats200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetPrivateResourceStats200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrivateResourceAPIService.GetPrivateResourceStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/private-resources/summary-stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}
	if r.privateresourceids == nil {
		return localVarReturnValue, nil, reportError("privateresourceids is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "privateresourceids", r.privateresourceids, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
