// Copyright 2025 Cisco Systems, Inc. and its affiliates
//
// SPDX-License-Identifier: Apache-2.0

/*
Cisco Secure Access Reports

Reporting App Discovery API Usage Metering

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reports

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TopResourcesAPIService TopResourcesAPI service
type TopResourcesAPIService service

type ApiGetTopResourcesRequest struct {
	ctx context.Context
	ApiService *TopResourcesAPIService
	from *string
	to *string
	limit *int64
	offset *int64
	ip *string
	identityids *string
	identitytypes *string
	verdict *string
	filternoisydomains *bool
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetTopResourcesRequest) From(from string) ApiGetTopResourcesRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetTopResourcesRequest) To(to string) ApiGetTopResourcesRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetTopResourcesRequest) Limit(limit int64) ApiGetTopResourcesRequest {
	r.limit = &limit
	return r
}

// A number that represents an index in the collection.
func (r ApiGetTopResourcesRequest) Offset(offset int64) ApiGetTopResourcesRequest {
	r.offset = &offset
	return r
}

// An IP address.
func (r ApiGetTopResourcesRequest) Ip(ip string) ApiGetTopResourcesRequest {
	r.ip = &ip
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetTopResourcesRequest) Identityids(identityids string) ApiGetTopResourcesRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetTopResourcesRequest) Identitytypes(identitytypes string) ApiGetTopResourcesRequest {
	r.identitytypes = &identitytypes
	return r
}

// A string or comma-delimited string that describes whether the traffic can reach the destination.
func (r ApiGetTopResourcesRequest) Verdict(verdict string) ApiGetTopResourcesRequest {
	r.verdict = &verdict
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetTopResourcesRequest) Filternoisydomains(filternoisydomains bool) ApiGetTopResourcesRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetTopResourcesRequest) Timezone(timezone string) ApiGetTopResourcesRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetTopResourcesRequest) Execute() (*GetTopResources200Response, *http.Response, error) {
	return r.ApiService.GetTopResourcesExecute(r)
}

/*
GetTopResources Top Resources (all)

List all resources in descending order. Order the collection by the number of requests to get the resources.

**Access Scope:** Reports > Private Resources > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTopResourcesRequest
*/
func (a *TopResourcesAPIService) GetTopResources(ctx context.Context) ApiGetTopResourcesRequest {
	return ApiGetTopResourcesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetTopResources200Response
func (a *TopResourcesAPIService) GetTopResourcesExecute(r ApiGetTopResourcesRequest) (*GetTopResources200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetTopResources200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TopResourcesAPIService.GetTopResources")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/top-resources"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}
	if r.offset == nil {
		return localVarReturnValue, nil, reportError("offset is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.verdict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verdict", r.verdict, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTopResourcesTypeRequest struct {
	ctx context.Context
	ApiService *TopResourcesAPIService
	type_ string
	from *string
	to *string
	limit *int64
	offset *int64
	ip *string
	identityids *string
	identitytypes *string
	verdict *string
	filternoisydomains *bool
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetTopResourcesTypeRequest) From(from string) ApiGetTopResourcesTypeRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetTopResourcesTypeRequest) To(to string) ApiGetTopResourcesTypeRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetTopResourcesTypeRequest) Limit(limit int64) ApiGetTopResourcesTypeRequest {
	r.limit = &limit
	return r
}

// A number that represents an index in the collection.
func (r ApiGetTopResourcesTypeRequest) Offset(offset int64) ApiGetTopResourcesTypeRequest {
	r.offset = &offset
	return r
}

// An IP address.
func (r ApiGetTopResourcesTypeRequest) Ip(ip string) ApiGetTopResourcesTypeRequest {
	r.ip = &ip
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetTopResourcesTypeRequest) Identityids(identityids string) ApiGetTopResourcesTypeRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetTopResourcesTypeRequest) Identitytypes(identitytypes string) ApiGetTopResourcesTypeRequest {
	r.identitytypes = &identitytypes
	return r
}

// A string or comma-delimited string that describes whether the traffic can reach the destination.
func (r ApiGetTopResourcesTypeRequest) Verdict(verdict string) ApiGetTopResourcesTypeRequest {
	r.verdict = &verdict
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetTopResourcesTypeRequest) Filternoisydomains(filternoisydomains bool) ApiGetTopResourcesTypeRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetTopResourcesTypeRequest) Timezone(timezone string) ApiGetTopResourcesTypeRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetTopResourcesTypeRequest) Execute() (*GetTopResources200Response, *http.Response, error) {
	return r.ApiService.GetTopResourcesTypeExecute(r)
}

/*
GetTopResourcesType Top Resources by Type

List the resources for the type of activity in descending order.
Order the collection by the number of requests to get the resources.

**Access Scope:** Reports > Private Resources > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param type_ Specify the type of traffic.
 @return ApiGetTopResourcesTypeRequest
*/
func (a *TopResourcesAPIService) GetTopResourcesType(ctx context.Context, type_ string) ApiGetTopResourcesTypeRequest {
	return ApiGetTopResourcesTypeRequest{
		ApiService: a,
		ctx: ctx,
		type_: type_,
	}
}

// Execute executes the request
//  @return GetTopResources200Response
func (a *TopResourcesAPIService) GetTopResourcesTypeExecute(r ApiGetTopResourcesTypeRequest) (*GetTopResources200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetTopResources200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TopResourcesAPIService.GetTopResourcesType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/top-resources/{type}"
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}
	if r.offset == nil {
		return localVarReturnValue, nil, reportError("offset is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.verdict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verdict", r.verdict, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
