// Copyright 2025 Cisco Systems, Inc. and its affiliates
//
// SPDX-License-Identifier: Apache-2.0

/*
Cisco Secure Access Reports

Reporting App Discovery API Usage Metering

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reports

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SummaryAPIService SummaryAPI service
type SummaryAPIService service

type ApiGetSummaryRequest struct {
	ctx context.Context
	ApiService *SummaryAPIService
	from *string
	to *string
	limit *int64
	offset *int64
	domains *string
	urls *string
	categories *string
	policycategories *string
	ip *string
	ports *string
	identityids *string
	identitytypes *string
	applicationid *string
	verdict *string
	ruleid *int64
	filename *string
	securityoverridden *bool
	bundleid *int64
	threats *string
	threattypes *string
	ampdisposition *string
	antivirusthreats *string
	datalosspreventionstate *string
	filternoisydomains *bool
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetSummaryRequest) From(from string) ApiGetSummaryRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetSummaryRequest) To(to string) ApiGetSummaryRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetSummaryRequest) Limit(limit int64) ApiGetSummaryRequest {
	r.limit = &limit
	return r
}

// A number that represents an index in the collection.
func (r ApiGetSummaryRequest) Offset(offset int64) ApiGetSummaryRequest {
	r.offset = &offset
	return r
}

// A domain name or comma-delimited list of domain name.
func (r ApiGetSummaryRequest) Domains(domains string) ApiGetSummaryRequest {
	r.domains = &domains
	return r
}

// A URL or comma-delimited list of URL.
func (r ApiGetSummaryRequest) Urls(urls string) ApiGetSummaryRequest {
	r.urls = &urls
	return r
}

// A category ID or comma-delimited list of category ID.
func (r ApiGetSummaryRequest) Categories(categories string) ApiGetSummaryRequest {
	r.categories = &categories
	return r
}

// A category ID or comma-delimited list of category ID. Filter the request by the categories that trigger a policy.
func (r ApiGetSummaryRequest) Policycategories(policycategories string) ApiGetSummaryRequest {
	r.policycategories = &policycategories
	return r
}

// An IP address.
func (r ApiGetSummaryRequest) Ip(ip string) ApiGetSummaryRequest {
	r.ip = &ip
	return r
}

// A port number or comma-delimited list of port numbers.
func (r ApiGetSummaryRequest) Ports(ports string) ApiGetSummaryRequest {
	r.ports = &ports
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetSummaryRequest) Identityids(identityids string) ApiGetSummaryRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetSummaryRequest) Identitytypes(identitytypes string) ApiGetSummaryRequest {
	r.identitytypes = &identitytypes
	return r
}

// The ID of the application.
func (r ApiGetSummaryRequest) Applicationid(applicationid string) ApiGetSummaryRequest {
	r.applicationid = &applicationid
	return r
}

// A string or comma-delimited string that describes whether the traffic can reach the destination.
func (r ApiGetSummaryRequest) Verdict(verdict string) ApiGetSummaryRequest {
	r.verdict = &verdict
	return r
}

// The firewall policy rule ID.
func (r ApiGetSummaryRequest) Ruleid(ruleid int64) ApiGetSummaryRequest {
	r.ruleid = &ruleid
	return r
}

// A string that identifies a filename. Filter the request by the filename. Supports globbing or use of the wildcard character (&#39;*&#39;). The asterisk (*) matches zero or more occurrences of any character.
func (r ApiGetSummaryRequest) Filename(filename string) ApiGetSummaryRequest {
	r.filename = &filename
	return r
}

// Specify whether to filter on requests that override security.
func (r ApiGetSummaryRequest) Securityoverridden(securityoverridden bool) ApiGetSummaryRequest {
	r.securityoverridden = &securityoverridden
	return r
}

// A proxy bundle ID.
func (r ApiGetSummaryRequest) Bundleid(bundleid int64) ApiGetSummaryRequest {
	r.bundleid = &bundleid
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetSummaryRequest) Threats(threats string) ApiGetSummaryRequest {
	r.threats = &threats
	return r
}

// A threat type or comma-delimited list of threat types.
func (r ApiGetSummaryRequest) Threattypes(threattypes string) ApiGetSummaryRequest {
	r.threattypes = &threattypes
	return r
}

// An AMP disposition string or a comma-delimited list of AMP disposition strings.
func (r ApiGetSummaryRequest) Ampdisposition(ampdisposition string) ApiGetSummaryRequest {
	r.ampdisposition = &ampdisposition
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetSummaryRequest) Antivirusthreats(antivirusthreats string) ApiGetSummaryRequest {
	r.antivirusthreats = &antivirusthreats
	return r
}

// A string that describes the status of a destination. Filter for requests that are blocked by the DLP layer security.
func (r ApiGetSummaryRequest) Datalosspreventionstate(datalosspreventionstate string) ApiGetSummaryRequest {
	r.datalosspreventionstate = &datalosspreventionstate
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetSummaryRequest) Filternoisydomains(filternoisydomains bool) ApiGetSummaryRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetSummaryRequest) Timezone(timezone string) ApiGetSummaryRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetSummaryRequest) Execute() (*GetSummary200Response, *http.Response, error) {
	return r.ApiService.GetSummaryExecute(r)
}

/*
GetSummary Get Summary (All)

Get the summary report.

**Access Scope:** Reports > Aggregations > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSummaryRequest
*/
func (a *SummaryAPIService) GetSummary(ctx context.Context) ApiGetSummaryRequest {
	return ApiGetSummaryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSummary200Response
func (a *SummaryAPIService) GetSummaryExecute(r ApiGetSummaryRequest) (*GetSummary200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSummary200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SummaryAPIService.GetSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	if r.domains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domains", r.domains, "form", "")
	}
	if r.urls != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "urls", r.urls, "form", "")
	}
	if r.categories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categories", r.categories, "form", "")
	}
	if r.policycategories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policycategories", r.policycategories, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.ports != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ports", r.ports, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.applicationid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationid", r.applicationid, "form", "")
	}
	if r.verdict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verdict", r.verdict, "form", "")
	}
	if r.ruleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ruleid", r.ruleid, "form", "")
	}
	if r.filename != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	}
	if r.securityoverridden != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "securityoverridden", r.securityoverridden, "form", "")
	}
	if r.bundleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bundleid", r.bundleid, "form", "")
	}
	if r.threats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threats", r.threats, "form", "")
	}
	if r.threattypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threattypes", r.threattypes, "form", "")
	}
	if r.ampdisposition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ampdisposition", r.ampdisposition, "form", "")
	}
	if r.antivirusthreats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "antivirusthreats", r.antivirusthreats, "form", "")
	}
	if r.datalosspreventionstate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datalosspreventionstate", r.datalosspreventionstate, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSummaryByTypeRequest struct {
	ctx context.Context
	ApiService *SummaryAPIService
	type_ string
	from *string
	to *string
	limit *int64
	offset *int64
	domains *string
	urls *string
	categories *string
	policycategories *string
	ip *string
	ports *string
	identityids *string
	identitytypes *string
	applicationid *string
	verdict *string
	ruleid *int64
	filename *string
	securityoverridden *bool
	bundleid *int64
	threats *string
	threattypes *string
	ampdisposition *string
	antivirusthreats *string
	datalosspreventionstate *string
	filternoisydomains *bool
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetSummaryByTypeRequest) From(from string) ApiGetSummaryByTypeRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetSummaryByTypeRequest) To(to string) ApiGetSummaryByTypeRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetSummaryByTypeRequest) Limit(limit int64) ApiGetSummaryByTypeRequest {
	r.limit = &limit
	return r
}

// A number that represents an index in the collection.
func (r ApiGetSummaryByTypeRequest) Offset(offset int64) ApiGetSummaryByTypeRequest {
	r.offset = &offset
	return r
}

// A domain name or comma-delimited list of domain name.
func (r ApiGetSummaryByTypeRequest) Domains(domains string) ApiGetSummaryByTypeRequest {
	r.domains = &domains
	return r
}

// A URL or comma-delimited list of URL.
func (r ApiGetSummaryByTypeRequest) Urls(urls string) ApiGetSummaryByTypeRequest {
	r.urls = &urls
	return r
}

// A category ID or comma-delimited list of category ID.
func (r ApiGetSummaryByTypeRequest) Categories(categories string) ApiGetSummaryByTypeRequest {
	r.categories = &categories
	return r
}

// A category ID or comma-delimited list of category ID. Filter the request by the categories that trigger a policy.
func (r ApiGetSummaryByTypeRequest) Policycategories(policycategories string) ApiGetSummaryByTypeRequest {
	r.policycategories = &policycategories
	return r
}

// An IP address.
func (r ApiGetSummaryByTypeRequest) Ip(ip string) ApiGetSummaryByTypeRequest {
	r.ip = &ip
	return r
}

// A port number or comma-delimited list of port numbers.
func (r ApiGetSummaryByTypeRequest) Ports(ports string) ApiGetSummaryByTypeRequest {
	r.ports = &ports
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetSummaryByTypeRequest) Identityids(identityids string) ApiGetSummaryByTypeRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetSummaryByTypeRequest) Identitytypes(identitytypes string) ApiGetSummaryByTypeRequest {
	r.identitytypes = &identitytypes
	return r
}

// The ID of the application.
func (r ApiGetSummaryByTypeRequest) Applicationid(applicationid string) ApiGetSummaryByTypeRequest {
	r.applicationid = &applicationid
	return r
}

// A string or comma-delimited string that describes whether the traffic can reach the destination.
func (r ApiGetSummaryByTypeRequest) Verdict(verdict string) ApiGetSummaryByTypeRequest {
	r.verdict = &verdict
	return r
}

// The firewall policy rule ID.
func (r ApiGetSummaryByTypeRequest) Ruleid(ruleid int64) ApiGetSummaryByTypeRequest {
	r.ruleid = &ruleid
	return r
}

// A string that identifies a filename. Filter the request by the filename. Supports globbing or use of the wildcard character (&#39;*&#39;). The asterisk (*) matches zero or more occurrences of any character.
func (r ApiGetSummaryByTypeRequest) Filename(filename string) ApiGetSummaryByTypeRequest {
	r.filename = &filename
	return r
}

// Specify whether to filter on requests that override security.
func (r ApiGetSummaryByTypeRequest) Securityoverridden(securityoverridden bool) ApiGetSummaryByTypeRequest {
	r.securityoverridden = &securityoverridden
	return r
}

// A proxy bundle ID.
func (r ApiGetSummaryByTypeRequest) Bundleid(bundleid int64) ApiGetSummaryByTypeRequest {
	r.bundleid = &bundleid
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetSummaryByTypeRequest) Threats(threats string) ApiGetSummaryByTypeRequest {
	r.threats = &threats
	return r
}

// A threat type or comma-delimited list of threat types.
func (r ApiGetSummaryByTypeRequest) Threattypes(threattypes string) ApiGetSummaryByTypeRequest {
	r.threattypes = &threattypes
	return r
}

// An AMP disposition string or a comma-delimited list of AMP disposition strings.
func (r ApiGetSummaryByTypeRequest) Ampdisposition(ampdisposition string) ApiGetSummaryByTypeRequest {
	r.ampdisposition = &ampdisposition
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetSummaryByTypeRequest) Antivirusthreats(antivirusthreats string) ApiGetSummaryByTypeRequest {
	r.antivirusthreats = &antivirusthreats
	return r
}

// A string that describes the status of a destination. Filter for requests that are blocked by the DLP layer security.
func (r ApiGetSummaryByTypeRequest) Datalosspreventionstate(datalosspreventionstate string) ApiGetSummaryByTypeRequest {
	r.datalosspreventionstate = &datalosspreventionstate
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetSummaryByTypeRequest) Filternoisydomains(filternoisydomains bool) ApiGetSummaryByTypeRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetSummaryByTypeRequest) Timezone(timezone string) ApiGetSummaryByTypeRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetSummaryByTypeRequest) Execute() (*GetSummary200Response, *http.Response, error) {
	return r.ApiService.GetSummaryByTypeExecute(r)
}

/*
GetSummaryByType Get Summary By Type

Get the summary of requests by the traffic type.

**Access Scope:** Reports > Aggregations > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param type_ Specify the type of traffic.
 @return ApiGetSummaryByTypeRequest
*/
func (a *SummaryAPIService) GetSummaryByType(ctx context.Context, type_ string) ApiGetSummaryByTypeRequest {
	return ApiGetSummaryByTypeRequest{
		ApiService: a,
		ctx: ctx,
		type_: type_,
	}
}

// Execute executes the request
//  @return GetSummary200Response
func (a *SummaryAPIService) GetSummaryByTypeExecute(r ApiGetSummaryByTypeRequest) (*GetSummary200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSummary200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SummaryAPIService.GetSummaryByType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/summary/{type}"
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	if r.domains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domains", r.domains, "form", "")
	}
	if r.urls != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "urls", r.urls, "form", "")
	}
	if r.categories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categories", r.categories, "form", "")
	}
	if r.policycategories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policycategories", r.policycategories, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.ports != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ports", r.ports, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.applicationid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationid", r.applicationid, "form", "")
	}
	if r.verdict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verdict", r.verdict, "form", "")
	}
	if r.ruleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ruleid", r.ruleid, "form", "")
	}
	if r.filename != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	}
	if r.securityoverridden != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "securityoverridden", r.securityoverridden, "form", "")
	}
	if r.bundleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bundleid", r.bundleid, "form", "")
	}
	if r.threats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threats", r.threats, "form", "")
	}
	if r.threattypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threattypes", r.threattypes, "form", "")
	}
	if r.ampdisposition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ampdisposition", r.ampdisposition, "form", "")
	}
	if r.antivirusthreats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "antivirusthreats", r.antivirusthreats, "form", "")
	}
	if r.datalosspreventionstate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datalosspreventionstate", r.datalosspreventionstate, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
