/*
Cisco Secure Access Reports

Reporting App Discovery API Usage Metering

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reports

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SummariesByRuleAPIService SummariesByRuleAPI service
type SummariesByRuleAPIService service

type ApiGetSummariesByRuleFirewallHitcountRequest struct {
	ctx context.Context
	ApiService *SummariesByRuleAPIService
	from *string
	to *string
	ruleids *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetSummariesByRuleFirewallHitcountRequest) From(from string) ApiGetSummariesByRuleFirewallHitcountRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetSummariesByRuleFirewallHitcountRequest) To(to string) ApiGetSummariesByRuleFirewallHitcountRequest {
	r.to = &to
	return r
}

// A comma-delimited list of firewall policy rule IDs.
func (r ApiGetSummariesByRuleFirewallHitcountRequest) Ruleids(ruleids string) ApiGetSummariesByRuleFirewallHitcountRequest {
	r.ruleids = &ruleids
	return r
}

func (r ApiGetSummariesByRuleFirewallHitcountRequest) Execute() (*GetSummariesByRuleFirewallHitcount200Response, *http.Response, error) {
	return r.ApiService.GetSummariesByRuleFirewallHitcountExecute(r)
}

/*
GetSummariesByRuleFirewallHitcount Get Summaries by Rule for Policy Rule Firewall Hit Count

List the summaries by rule for the policy rule firewall hit count.

**Access Scope:** Reports > Summaries by rule > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSummariesByRuleFirewallHitcountRequest
*/
func (a *SummariesByRuleAPIService) GetSummariesByRuleFirewallHitcount(ctx context.Context) ApiGetSummariesByRuleFirewallHitcountRequest {
	return ApiGetSummariesByRuleFirewallHitcountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSummariesByRuleFirewallHitcount200Response
func (a *SummariesByRuleAPIService) GetSummariesByRuleFirewallHitcountExecute(r ApiGetSummariesByRuleFirewallHitcountRequest) (*GetSummariesByRuleFirewallHitcount200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSummariesByRuleFirewallHitcount200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SummariesByRuleAPIService.GetSummariesByRuleFirewallHitcount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/summaries-by-rule/firewall-hitcount"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.ruleids == nil {
		return localVarReturnValue, nil, reportError("ruleids is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "ruleids", r.ruleids, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSummariesByRuleHitcountRequest struct {
	ctx context.Context
	ApiService *SummariesByRuleAPIService
	from *string
	to *string
	ruleids *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetSummariesByRuleHitcountRequest) From(from string) ApiGetSummariesByRuleHitcountRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetSummariesByRuleHitcountRequest) To(to string) ApiGetSummariesByRuleHitcountRequest {
	r.to = &to
	return r
}

// A comma-delimited list of firewall policy rule IDs.
func (r ApiGetSummariesByRuleHitcountRequest) Ruleids(ruleids string) ApiGetSummariesByRuleHitcountRequest {
	r.ruleids = &ruleids
	return r
}

func (r ApiGetSummariesByRuleHitcountRequest) Execute() (*GetSummariesByRuleHitcount200Response, *http.Response, error) {
	return r.ApiService.GetSummariesByRuleHitcountExecute(r)
}

/*
GetSummariesByRuleHitcount Get Summaries by Rule for Policy Rule Hit Count

List the summaries by rule for the policy rule hit count.

**Access Scope:** Reports > Summaries by rule > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSummariesByRuleHitcountRequest
*/
func (a *SummariesByRuleAPIService) GetSummariesByRuleHitcount(ctx context.Context) ApiGetSummariesByRuleHitcountRequest {
	return ApiGetSummariesByRuleHitcountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSummariesByRuleHitcount200Response
func (a *SummariesByRuleAPIService) GetSummariesByRuleHitcountExecute(r ApiGetSummariesByRuleHitcountRequest) (*GetSummariesByRuleHitcount200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSummariesByRuleHitcount200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SummariesByRuleAPIService.GetSummariesByRuleHitcount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/summaries-by-rule/hitcount"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.ruleids == nil {
		return localVarReturnValue, nil, reportError("ruleids is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "ruleids", r.ruleids, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSummariesByRuleIntrusionRequest struct {
	ctx context.Context
	ApiService *SummariesByRuleAPIService
	from *string
	to *string
	limit *int64
	offset *int64
	signatures *string
	signaturelistids *string
	ipsprofile *string
	ip *string
	identityids *string
	identitytypes *string
	intrusionaction *string
	ports *string
	filternoisydomains *bool
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetSummariesByRuleIntrusionRequest) From(from string) ApiGetSummariesByRuleIntrusionRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetSummariesByRuleIntrusionRequest) To(to string) ApiGetSummariesByRuleIntrusionRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetSummariesByRuleIntrusionRequest) Limit(limit int64) ApiGetSummariesByRuleIntrusionRequest {
	r.limit = &limit
	return r
}

// A number that represents an index in the collection.
func (r ApiGetSummariesByRuleIntrusionRequest) Offset(offset int64) ApiGetSummariesByRuleIntrusionRequest {
	r.offset = &offset
	return r
}

// The signature or comma-separated list of &lt;signatureid&gt;-&lt;generatorid&gt; signatures.
func (r ApiGetSummariesByRuleIntrusionRequest) Signatures(signatures string) ApiGetSummariesByRuleIntrusionRequest {
	r.signatures = &signatures
	return r
}

// The signature ID or comma-separated list of signature list IDs.
func (r ApiGetSummariesByRuleIntrusionRequest) Signaturelistids(signaturelistids string) ApiGetSummariesByRuleIntrusionRequest {
	r.signaturelistids = &signaturelistids
	return r
}

// An IPS profile string or comma-delimited list of IPS profile string.
func (r ApiGetSummariesByRuleIntrusionRequest) Ipsprofile(ipsprofile string) ApiGetSummariesByRuleIntrusionRequest {
	r.ipsprofile = &ipsprofile
	return r
}

// An IP address.
func (r ApiGetSummariesByRuleIntrusionRequest) Ip(ip string) ApiGetSummariesByRuleIntrusionRequest {
	r.ip = &ip
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetSummariesByRuleIntrusionRequest) Identityids(identityids string) ApiGetSummariesByRuleIntrusionRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetSummariesByRuleIntrusionRequest) Identitytypes(identitytypes string) ApiGetSummariesByRuleIntrusionRequest {
	r.identitytypes = &identitytypes
	return r
}

// An action or list of comma-separated intrusion actions. Valid values are: &#x60;would_block&#x60;, &#x60;blocked&#x60;, and &#x60;detected&#x60;.
func (r ApiGetSummariesByRuleIntrusionRequest) Intrusionaction(intrusionaction string) ApiGetSummariesByRuleIntrusionRequest {
	r.intrusionaction = &intrusionaction
	return r
}

// A port number or comma-delimited list of port numbers.
func (r ApiGetSummariesByRuleIntrusionRequest) Ports(ports string) ApiGetSummariesByRuleIntrusionRequest {
	r.ports = &ports
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetSummariesByRuleIntrusionRequest) Filternoisydomains(filternoisydomains bool) ApiGetSummariesByRuleIntrusionRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

func (r ApiGetSummariesByRuleIntrusionRequest) Execute() (*GetSummariesByRuleIntrusion200Response, *http.Response, error) {
	return r.ApiService.GetSummariesByRuleIntrusionExecute(r)
}

/*
GetSummariesByRuleIntrusion Get Summaries by Rule

List the summaries by rule for the intrusion type.

**Access Scope:** Reports > Summaries by rule > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSummariesByRuleIntrusionRequest
*/
func (a *SummariesByRuleAPIService) GetSummariesByRuleIntrusion(ctx context.Context) ApiGetSummariesByRuleIntrusionRequest {
	return ApiGetSummariesByRuleIntrusionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSummariesByRuleIntrusion200Response
func (a *SummariesByRuleAPIService) GetSummariesByRuleIntrusionExecute(r ApiGetSummariesByRuleIntrusionRequest) (*GetSummariesByRuleIntrusion200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSummariesByRuleIntrusion200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SummariesByRuleAPIService.GetSummariesByRuleIntrusion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/summaries-by-rule/intrusion"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	if r.signatures != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "signatures", r.signatures, "form", "")
	}
	if r.signaturelistids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "signaturelistids", r.signaturelistids, "form", "")
	}
	if r.ipsprofile != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ipsprofile", r.ipsprofile, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.intrusionaction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "intrusionaction", r.intrusionaction, "form", "")
	}
	if r.ports != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ports", r.ports, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
