// Copyright 2025 Cisco Systems, Inc. and its affiliates
//
// SPDX-License-Identifier: Apache-2.0

/*
Cisco Secure Access Reports

Reporting App Discovery API Usage Metering

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reports

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TotalRequestsAPIService TotalRequestsAPI service
type TotalRequestsAPIService service

type ApiGetTotalRequestsRequest struct {
	ctx context.Context
	ApiService *TotalRequestsAPIService
	from *string
	to *string
	domains *string
	urls *string
	categories *string
	policycategories *string
	ip *string
	ports *string
	identityids *string
	identitytypes *string
	applicationid *string
	verdict *string
	ruleid *int64
	sha256 *string
	securityoverridden *bool
	bundleid *int64
	threats *string
	threattypes *string
	ampdisposition *string
	antivirusthreats *string
	datalosspreventionstate *string
	filternoisydomains *bool
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetTotalRequestsRequest) From(from string) ApiGetTotalRequestsRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetTotalRequestsRequest) To(to string) ApiGetTotalRequestsRequest {
	r.to = &to
	return r
}

// A domain name or comma-delimited list of domain name.
func (r ApiGetTotalRequestsRequest) Domains(domains string) ApiGetTotalRequestsRequest {
	r.domains = &domains
	return r
}

// A URL or comma-delimited list of URL.
func (r ApiGetTotalRequestsRequest) Urls(urls string) ApiGetTotalRequestsRequest {
	r.urls = &urls
	return r
}

// A category ID or comma-delimited list of category ID.
func (r ApiGetTotalRequestsRequest) Categories(categories string) ApiGetTotalRequestsRequest {
	r.categories = &categories
	return r
}

// A category ID or comma-delimited list of category ID. Filter the request by the categories that trigger a policy.
func (r ApiGetTotalRequestsRequest) Policycategories(policycategories string) ApiGetTotalRequestsRequest {
	r.policycategories = &policycategories
	return r
}

// An IP address.
func (r ApiGetTotalRequestsRequest) Ip(ip string) ApiGetTotalRequestsRequest {
	r.ip = &ip
	return r
}

// A port number or comma-delimited list of port numbers.
func (r ApiGetTotalRequestsRequest) Ports(ports string) ApiGetTotalRequestsRequest {
	r.ports = &ports
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetTotalRequestsRequest) Identityids(identityids string) ApiGetTotalRequestsRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetTotalRequestsRequest) Identitytypes(identitytypes string) ApiGetTotalRequestsRequest {
	r.identitytypes = &identitytypes
	return r
}

// The ID of the application.
func (r ApiGetTotalRequestsRequest) Applicationid(applicationid string) ApiGetTotalRequestsRequest {
	r.applicationid = &applicationid
	return r
}

// A string or comma-delimited string that describes whether the traffic can reach the destination.
func (r ApiGetTotalRequestsRequest) Verdict(verdict string) ApiGetTotalRequestsRequest {
	r.verdict = &verdict
	return r
}

// The firewall policy rule ID.
func (r ApiGetTotalRequestsRequest) Ruleid(ruleid int64) ApiGetTotalRequestsRequest {
	r.ruleid = &ruleid
	return r
}

// A SHA-256 hash.
func (r ApiGetTotalRequestsRequest) Sha256(sha256 string) ApiGetTotalRequestsRequest {
	r.sha256 = &sha256
	return r
}

// Specify whether to filter on requests that override security.
func (r ApiGetTotalRequestsRequest) Securityoverridden(securityoverridden bool) ApiGetTotalRequestsRequest {
	r.securityoverridden = &securityoverridden
	return r
}

// A proxy bundle ID.
func (r ApiGetTotalRequestsRequest) Bundleid(bundleid int64) ApiGetTotalRequestsRequest {
	r.bundleid = &bundleid
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetTotalRequestsRequest) Threats(threats string) ApiGetTotalRequestsRequest {
	r.threats = &threats
	return r
}

// A threat type or comma-delimited list of threat types.
func (r ApiGetTotalRequestsRequest) Threattypes(threattypes string) ApiGetTotalRequestsRequest {
	r.threattypes = &threattypes
	return r
}

// An AMP disposition string or a comma-delimited list of AMP disposition strings.
func (r ApiGetTotalRequestsRequest) Ampdisposition(ampdisposition string) ApiGetTotalRequestsRequest {
	r.ampdisposition = &ampdisposition
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetTotalRequestsRequest) Antivirusthreats(antivirusthreats string) ApiGetTotalRequestsRequest {
	r.antivirusthreats = &antivirusthreats
	return r
}

// A string that describes the status of a destination. Filter for requests that are blocked by the DLP layer security.
func (r ApiGetTotalRequestsRequest) Datalosspreventionstate(datalosspreventionstate string) ApiGetTotalRequestsRequest {
	r.datalosspreventionstate = &datalosspreventionstate
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetTotalRequestsRequest) Filternoisydomains(filternoisydomains bool) ApiGetTotalRequestsRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetTotalRequestsRequest) Timezone(timezone string) ApiGetTotalRequestsRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetTotalRequestsRequest) Execute() (*GetTotalRequests200Response, *http.Response, error) {
	return r.ApiService.GetTotalRequestsExecute(r)
}

/*
GetTotalRequests Get Total Requests (All)

Get the count of the total requests.

**Access Scope:** Reports > Aggregations > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTotalRequestsRequest
*/
func (a *TotalRequestsAPIService) GetTotalRequests(ctx context.Context) ApiGetTotalRequestsRequest {
	return ApiGetTotalRequestsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetTotalRequests200Response
func (a *TotalRequestsAPIService) GetTotalRequestsExecute(r ApiGetTotalRequestsRequest) (*GetTotalRequests200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetTotalRequests200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TotalRequestsAPIService.GetTotalRequests")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/total-requests"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.domains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domains", r.domains, "form", "")
	}
	if r.urls != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "urls", r.urls, "form", "")
	}
	if r.categories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categories", r.categories, "form", "")
	}
	if r.policycategories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policycategories", r.policycategories, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.ports != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ports", r.ports, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.applicationid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationid", r.applicationid, "form", "")
	}
	if r.verdict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verdict", r.verdict, "form", "")
	}
	if r.ruleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ruleid", r.ruleid, "form", "")
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha256", r.sha256, "form", "")
	}
	if r.securityoverridden != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "securityoverridden", r.securityoverridden, "form", "")
	}
	if r.bundleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bundleid", r.bundleid, "form", "")
	}
	if r.threats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threats", r.threats, "form", "")
	}
	if r.threattypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threattypes", r.threattypes, "form", "")
	}
	if r.ampdisposition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ampdisposition", r.ampdisposition, "form", "")
	}
	if r.antivirusthreats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "antivirusthreats", r.antivirusthreats, "form", "")
	}
	if r.datalosspreventionstate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datalosspreventionstate", r.datalosspreventionstate, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTotalRequestsByTypeRequest struct {
	ctx context.Context
	ApiService *TotalRequestsAPIService
	type_ string
	from *string
	to *string
	domains *string
	urls *string
	categories *string
	policycategories *string
	ip *string
	ports *string
	identityids *string
	identitytypes *string
	applicationid *string
	ruleid *int64
	verdict *string
	securityoverridden *bool
	bundleid *int64
	threats *string
	threattypes *string
	ampdisposition *string
	antivirusthreats *string
	datalosspreventionstate *string
	filternoisydomains *bool
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetTotalRequestsByTypeRequest) From(from string) ApiGetTotalRequestsByTypeRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetTotalRequestsByTypeRequest) To(to string) ApiGetTotalRequestsByTypeRequest {
	r.to = &to
	return r
}

// A domain name or comma-delimited list of domain name.
func (r ApiGetTotalRequestsByTypeRequest) Domains(domains string) ApiGetTotalRequestsByTypeRequest {
	r.domains = &domains
	return r
}

// A URL or comma-delimited list of URL.
func (r ApiGetTotalRequestsByTypeRequest) Urls(urls string) ApiGetTotalRequestsByTypeRequest {
	r.urls = &urls
	return r
}

// A category ID or comma-delimited list of category ID.
func (r ApiGetTotalRequestsByTypeRequest) Categories(categories string) ApiGetTotalRequestsByTypeRequest {
	r.categories = &categories
	return r
}

// A category ID or comma-delimited list of category ID. Filter the request by the categories that trigger a policy.
func (r ApiGetTotalRequestsByTypeRequest) Policycategories(policycategories string) ApiGetTotalRequestsByTypeRequest {
	r.policycategories = &policycategories
	return r
}

// An IP address.
func (r ApiGetTotalRequestsByTypeRequest) Ip(ip string) ApiGetTotalRequestsByTypeRequest {
	r.ip = &ip
	return r
}

// A port number or comma-delimited list of port numbers.
func (r ApiGetTotalRequestsByTypeRequest) Ports(ports string) ApiGetTotalRequestsByTypeRequest {
	r.ports = &ports
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetTotalRequestsByTypeRequest) Identityids(identityids string) ApiGetTotalRequestsByTypeRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetTotalRequestsByTypeRequest) Identitytypes(identitytypes string) ApiGetTotalRequestsByTypeRequest {
	r.identitytypes = &identitytypes
	return r
}

// The ID of the application.
func (r ApiGetTotalRequestsByTypeRequest) Applicationid(applicationid string) ApiGetTotalRequestsByTypeRequest {
	r.applicationid = &applicationid
	return r
}

// The firewall policy rule ID.
func (r ApiGetTotalRequestsByTypeRequest) Ruleid(ruleid int64) ApiGetTotalRequestsByTypeRequest {
	r.ruleid = &ruleid
	return r
}

// A string or comma-delimited string that describes whether the traffic can reach the destination.
func (r ApiGetTotalRequestsByTypeRequest) Verdict(verdict string) ApiGetTotalRequestsByTypeRequest {
	r.verdict = &verdict
	return r
}

// Specify whether to filter on requests that override security.
func (r ApiGetTotalRequestsByTypeRequest) Securityoverridden(securityoverridden bool) ApiGetTotalRequestsByTypeRequest {
	r.securityoverridden = &securityoverridden
	return r
}

// A proxy bundle ID.
func (r ApiGetTotalRequestsByTypeRequest) Bundleid(bundleid int64) ApiGetTotalRequestsByTypeRequest {
	r.bundleid = &bundleid
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetTotalRequestsByTypeRequest) Threats(threats string) ApiGetTotalRequestsByTypeRequest {
	r.threats = &threats
	return r
}

// A threat type or comma-delimited list of threat types.
func (r ApiGetTotalRequestsByTypeRequest) Threattypes(threattypes string) ApiGetTotalRequestsByTypeRequest {
	r.threattypes = &threattypes
	return r
}

// An AMP disposition string or a comma-delimited list of AMP disposition strings.
func (r ApiGetTotalRequestsByTypeRequest) Ampdisposition(ampdisposition string) ApiGetTotalRequestsByTypeRequest {
	r.ampdisposition = &ampdisposition
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetTotalRequestsByTypeRequest) Antivirusthreats(antivirusthreats string) ApiGetTotalRequestsByTypeRequest {
	r.antivirusthreats = &antivirusthreats
	return r
}

// A string that describes the status of a destination. Filter for requests that are blocked by the DLP layer security.
func (r ApiGetTotalRequestsByTypeRequest) Datalosspreventionstate(datalosspreventionstate string) ApiGetTotalRequestsByTypeRequest {
	r.datalosspreventionstate = &datalosspreventionstate
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetTotalRequestsByTypeRequest) Filternoisydomains(filternoisydomains bool) ApiGetTotalRequestsByTypeRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetTotalRequestsByTypeRequest) Timezone(timezone string) ApiGetTotalRequestsByTypeRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetTotalRequestsByTypeRequest) Execute() (*GetTotalRequests200Response, *http.Response, error) {
	return r.ApiService.GetTotalRequestsByTypeExecute(r)
}

/*
GetTotalRequestsByType Get Total Requests (By Type)

Get the count of the total requests for the request type.

**Access Scope:** Reports > Aggregations > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param type_ Specify the type of traffic.
 @return ApiGetTotalRequestsByTypeRequest
*/
func (a *TotalRequestsAPIService) GetTotalRequestsByType(ctx context.Context, type_ string) ApiGetTotalRequestsByTypeRequest {
	return ApiGetTotalRequestsByTypeRequest{
		ApiService: a,
		ctx: ctx,
		type_: type_,
	}
}

// Execute executes the request
//  @return GetTotalRequests200Response
func (a *TotalRequestsAPIService) GetTotalRequestsByTypeExecute(r ApiGetTotalRequestsByTypeRequest) (*GetTotalRequests200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetTotalRequests200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TotalRequestsAPIService.GetTotalRequestsByType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/total-requests/{type}"
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.domains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domains", r.domains, "form", "")
	}
	if r.urls != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "urls", r.urls, "form", "")
	}
	if r.categories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categories", r.categories, "form", "")
	}
	if r.policycategories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policycategories", r.policycategories, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.ports != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ports", r.ports, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.applicationid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationid", r.applicationid, "form", "")
	}
	if r.ruleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ruleid", r.ruleid, "form", "")
	}
	if r.verdict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verdict", r.verdict, "form", "")
	}
	if r.securityoverridden != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "securityoverridden", r.securityoverridden, "form", "")
	}
	if r.bundleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bundleid", r.bundleid, "form", "")
	}
	if r.threats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threats", r.threats, "form", "")
	}
	if r.threattypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threattypes", r.threattypes, "form", "")
	}
	if r.ampdisposition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ampdisposition", r.ampdisposition, "form", "")
	}
	if r.antivirusthreats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "antivirusthreats", r.antivirusthreats, "form", "")
	}
	if r.datalosspreventionstate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datalosspreventionstate", r.datalosspreventionstate, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
