// Copyright 2025 Cisco Systems, Inc. and its affiliates
//
// SPDX-License-Identifier: Apache-2.0

/*
Cisco Secure Access Reports

Reporting App Discovery API Usage Metering

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reports

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type ApiGetApplicationsRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	application *string
}

// Filter on the name of the application.
func (r ApiGetApplicationsRequest) Application(application string) ApiGetApplicationsRequest {
	r.application = &application
	return r
}

func (r ApiGetApplicationsRequest) Execute() (*GetApplications200Response, *http.Response, error) {
	return r.ApiService.GetApplicationsExecute(r)
}

/*
GetApplications Get Applications

List the applications.

**Access Scope:** Reports > Utilities > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetApplicationsRequest
*/
func (a *DefaultAPIService) GetApplications(ctx context.Context) ApiGetApplicationsRequest {
	return ApiGetApplicationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetApplications200Response
func (a *DefaultAPIService) GetApplicationsExecute(r ApiGetApplicationsRequest) (*GetApplications200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetApplications200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetApplications")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/applications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.application != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "application", r.application, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetApplicationsAppDiscoveryRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	sources *[]string
	identity *int64
	labels *[]Label
	controllable *string
	weightedRisk *[]WeightedRisk
	categories *[]string
	appTypes *[]AppType
	date *string
	limit *int64
	offset *int64
	sort *string
	order *string
	labelTimestamp *time.Time
}

// Specify the types of log source to filter the collection. Valid values are: &#x60;dns&#x60;, &#x60;swg&#x60;, &#x60;cdfw&#x60;.
func (r ApiGetApplicationsAppDiscoveryRequest) Sources(sources []string) ApiGetApplicationsAppDiscoveryRequest {
	r.sources = &sources
	return r
}

// Specify the entity ID to filter the collection.
func (r ApiGetApplicationsAppDiscoveryRequest) Identity(identity int64) ApiGetApplicationsAppDiscoveryRequest {
	r.identity = &identity
	return r
}

// Specify the types of application classification to filter the collection. Valid values are: &#x60;unreviewed&#x60;, &#x60;approved&#x60;, &#x60;notApproved&#x60;, &#x60;underAudit&#x60;.
func (r ApiGetApplicationsAppDiscoveryRequest) Labels(labels []Label) ApiGetApplicationsAppDiscoveryRequest {
	r.labels = &labels
	return r
}

// Specify the type of controllable applications to filter the collection. Valid values are: &#x60;all&#x60;, &#x60;advanced&#x60;.
func (r ApiGetApplicationsAppDiscoveryRequest) Controllable(controllable string) ApiGetApplicationsAppDiscoveryRequest {
	r.controllable = &controllable
	return r
}

// Specify the list of application weighted risk to filter the collection. Valid values are: &#x60;veryLow&#x60;, &#x60;low&#x60;, &#x60;medium&#x60;, &#x60;high&#x60;, &#x60;veryHigh&#x60;.
func (r ApiGetApplicationsAppDiscoveryRequest) WeightedRisk(weightedRisk []WeightedRisk) ApiGetApplicationsAppDiscoveryRequest {
	r.weightedRisk = &weightedRisk
	return r
}

// Specify the list of application category to filter the collection.
func (r ApiGetApplicationsAppDiscoveryRequest) Categories(categories []string) ApiGetApplicationsAppDiscoveryRequest {
	r.categories = &categories
	return r
}

// Specify the types of application to filter the collection. Valid values are: &#x60;saas&#x60;, &#x60;paas&#x60;, and &#x60;iaas&#x60;.
func (r ApiGetApplicationsAppDiscoveryRequest) AppTypes(appTypes []AppType) ApiGetApplicationsAppDiscoveryRequest {
	r.appTypes = &appTypes
	return r
}

// Specify a date to search for data within a twenty-four hour time period. If you do not provide a date, the last 90 days period is used to query the collection.
func (r ApiGetApplicationsAppDiscoveryRequest) Date(date string) ApiGetApplicationsAppDiscoveryRequest {
	r.date = &date
	return r
}

// The maximum number of items to return in the collection.
func (r ApiGetApplicationsAppDiscoveryRequest) Limit(limit int64) ApiGetApplicationsAppDiscoveryRequest {
	r.limit = &limit
	return r
}

// The number of items to skip before starting to collect the result set.
func (r ApiGetApplicationsAppDiscoveryRequest) Offset(offset int64) ApiGetApplicationsAppDiscoveryRequest {
	r.offset = &offset
	return r
}

// Specify the name of a field to sort the applications.
func (r ApiGetApplicationsAppDiscoveryRequest) Sort(sort string) ApiGetApplicationsAppDiscoveryRequest {
	r.sort = &sort
	return r
}

// Specify the order to sort the collection. Valid values are: &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending).
func (r ApiGetApplicationsAppDiscoveryRequest) Order(order string) ApiGetApplicationsAppDiscoveryRequest {
	r.order = &order
	return r
}

// Filter the result set on the time when the label was updated.
func (r ApiGetApplicationsAppDiscoveryRequest) LabelTimestamp(labelTimestamp time.Time) ApiGetApplicationsAppDiscoveryRequest {
	r.labelTimestamp = &labelTimestamp
	return r
}

func (r ApiGetApplicationsAppDiscoveryRequest) Execute() (*ApplicationList, *http.Response, error) {
	return r.ApiService.GetApplicationsAppDiscoveryExecute(r)
}

/*
GetApplicationsAppDiscovery List Applications

List all discovered applications.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetApplicationsAppDiscoveryRequest
*/
func (a *DefaultAPIService) GetApplicationsAppDiscovery(ctx context.Context) ApiGetApplicationsAppDiscoveryRequest {
	return ApiGetApplicationsAppDiscoveryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApplicationList
func (a *DefaultAPIService) GetApplicationsAppDiscoveryExecute(r ApiGetApplicationsAppDiscoveryRequest) (*ApplicationList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApplicationList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetApplicationsAppDiscovery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/appDiscovery/applications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sources != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sources", r.sources, "form", "csv")
	}
	if r.identity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identity", r.identity, "form", "")
	}
	if r.labels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labels", r.labels, "form", "csv")
	}
	if r.controllable != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "controllable", r.controllable, "form", "")
	}
	if r.weightedRisk != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "weightedRisk", r.weightedRisk, "form", "csv")
	}
	if r.categories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categories", r.categories, "form", "csv")
	}
	if r.appTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appTypes", r.appTypes, "form", "csv")
	}
	if r.date != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date", r.date, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.labelTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "label_timestamp", r.labelTimestamp, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
