// Copyright 2025 Cisco Systems, Inc. and its affiliates
//
// SPDX-License-Identifier: Apache-2.0

/*
Cisco Secure Access Reports

Reporting App Discovery API Usage Metering

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reports

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// TopDNSQueryTypesAPIService TopDNSQueryTypesAPI service
type TopDNSQueryTypesAPIService service

type ApiGetTopDNSQueryTypesRequest struct {
	ctx context.Context
	ApiService *TopDNSQueryTypesAPIService
	from *string
	to *string
	limit *int64
	offset *int64
	order *string
	domains *string
	categories *string
	policycategories *string
	ip *string
	identityids *string
	identitytypes *string
	applicationid *string
	verdict *string
	threats *string
	threattypes *string
	filternoisydomains *bool
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetTopDNSQueryTypesRequest) From(from string) ApiGetTopDNSQueryTypesRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetTopDNSQueryTypesRequest) To(to string) ApiGetTopDNSQueryTypesRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetTopDNSQueryTypesRequest) Limit(limit int64) ApiGetTopDNSQueryTypesRequest {
	r.limit = &limit
	return r
}

// A number that represents an index in the collection.
func (r ApiGetTopDNSQueryTypesRequest) Offset(offset int64) ApiGetTopDNSQueryTypesRequest {
	r.offset = &offset
	return r
}

// A string that describes how to order the results: ascending (&#x60;asc&#x60;) or descending (&#x60;desc&#x60;).
func (r ApiGetTopDNSQueryTypesRequest) Order(order string) ApiGetTopDNSQueryTypesRequest {
	r.order = &order
	return r
}

// A domain name or comma-delimited list of domain name.
func (r ApiGetTopDNSQueryTypesRequest) Domains(domains string) ApiGetTopDNSQueryTypesRequest {
	r.domains = &domains
	return r
}

// A category ID or comma-delimited list of category ID.
func (r ApiGetTopDNSQueryTypesRequest) Categories(categories string) ApiGetTopDNSQueryTypesRequest {
	r.categories = &categories
	return r
}

// A category ID or comma-delimited list of category ID. Filter the request by the categories that trigger a policy.
func (r ApiGetTopDNSQueryTypesRequest) Policycategories(policycategories string) ApiGetTopDNSQueryTypesRequest {
	r.policycategories = &policycategories
	return r
}

// An IP address.
func (r ApiGetTopDNSQueryTypesRequest) Ip(ip string) ApiGetTopDNSQueryTypesRequest {
	r.ip = &ip
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetTopDNSQueryTypesRequest) Identityids(identityids string) ApiGetTopDNSQueryTypesRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetTopDNSQueryTypesRequest) Identitytypes(identitytypes string) ApiGetTopDNSQueryTypesRequest {
	r.identitytypes = &identitytypes
	return r
}

// The ID of the application.
func (r ApiGetTopDNSQueryTypesRequest) Applicationid(applicationid string) ApiGetTopDNSQueryTypesRequest {
	r.applicationid = &applicationid
	return r
}

// A string or comma-delimited string that describes whether the traffic can reach the destination.
func (r ApiGetTopDNSQueryTypesRequest) Verdict(verdict string) ApiGetTopDNSQueryTypesRequest {
	r.verdict = &verdict
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetTopDNSQueryTypesRequest) Threats(threats string) ApiGetTopDNSQueryTypesRequest {
	r.threats = &threats
	return r
}

// A threat type or comma-delimited list of threat types.
func (r ApiGetTopDNSQueryTypesRequest) Threattypes(threattypes string) ApiGetTopDNSQueryTypesRequest {
	r.threattypes = &threattypes
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetTopDNSQueryTypesRequest) Filternoisydomains(filternoisydomains bool) ApiGetTopDNSQueryTypesRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetTopDNSQueryTypesRequest) Timezone(timezone string) ApiGetTopDNSQueryTypesRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetTopDNSQueryTypesRequest) Execute() (*GetTopDNSQueryTypes200Response, *http.Response, error) {
	return r.ApiService.GetTopDNSQueryTypesExecute(r)
}

/*
GetTopDNSQueryTypes Get Top DNS Query Types

List the top types of DNS query.

**Access Scope:** Reports > Aggregations > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTopDNSQueryTypesRequest
*/
func (a *TopDNSQueryTypesAPIService) GetTopDNSQueryTypes(ctx context.Context) ApiGetTopDNSQueryTypesRequest {
	return ApiGetTopDNSQueryTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetTopDNSQueryTypes200Response
func (a *TopDNSQueryTypesAPIService) GetTopDNSQueryTypesExecute(r ApiGetTopDNSQueryTypesRequest) (*GetTopDNSQueryTypes200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetTopDNSQueryTypes200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TopDNSQueryTypesAPIService.GetTopDNSQueryTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/top-dns-query-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.domains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domains", r.domains, "form", "")
	}
	if r.categories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categories", r.categories, "form", "")
	}
	if r.policycategories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policycategories", r.policycategories, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.applicationid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationid", r.applicationid, "form", "")
	}
	if r.verdict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verdict", r.verdict, "form", "")
	}
	if r.threats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threats", r.threats, "form", "")
	}
	if r.threattypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threattypes", r.threattypes, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
