// Copyright 2025 Cisco Systems, Inc. and its affiliates
//
// SPDX-License-Identifier: Apache-2.0

/*
Cisco Secure Access Reports

Reporting App Discovery API Usage Metering

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reports

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// TopEventTypesAPIService TopEventTypesAPI service
type TopEventTypesAPIService service

type ApiGetTopEventTypesRequest struct {
	ctx context.Context
	ApiService *TopEventTypesAPIService
	from *string
	to *string
	domains *string
	urls *string
	categories *string
	policycategories *string
	ip *string
	identityids *string
	identitytypes *string
	applicationid *string
	verdict *string
	securityoverridden *bool
	bundleid *int64
	threats *string
	threattypes *string
	ampdisposition *string
	antivirusthreats *string
	datalosspreventionstate *string
	filternoisydomains *bool
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetTopEventTypesRequest) From(from string) ApiGetTopEventTypesRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetTopEventTypesRequest) To(to string) ApiGetTopEventTypesRequest {
	r.to = &to
	return r
}

// A domain name or comma-delimited list of domain name.
func (r ApiGetTopEventTypesRequest) Domains(domains string) ApiGetTopEventTypesRequest {
	r.domains = &domains
	return r
}

// A URL or comma-delimited list of URL.
func (r ApiGetTopEventTypesRequest) Urls(urls string) ApiGetTopEventTypesRequest {
	r.urls = &urls
	return r
}

// A category ID or comma-delimited list of category ID.
func (r ApiGetTopEventTypesRequest) Categories(categories string) ApiGetTopEventTypesRequest {
	r.categories = &categories
	return r
}

// A category ID or comma-delimited list of category ID. Filter the request by the categories that trigger a policy.
func (r ApiGetTopEventTypesRequest) Policycategories(policycategories string) ApiGetTopEventTypesRequest {
	r.policycategories = &policycategories
	return r
}

// An IP address.
func (r ApiGetTopEventTypesRequest) Ip(ip string) ApiGetTopEventTypesRequest {
	r.ip = &ip
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetTopEventTypesRequest) Identityids(identityids string) ApiGetTopEventTypesRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetTopEventTypesRequest) Identitytypes(identitytypes string) ApiGetTopEventTypesRequest {
	r.identitytypes = &identitytypes
	return r
}

// The ID of the application.
func (r ApiGetTopEventTypesRequest) Applicationid(applicationid string) ApiGetTopEventTypesRequest {
	r.applicationid = &applicationid
	return r
}

// A string or comma-delimited string that describes whether the traffic can reach the destination.
func (r ApiGetTopEventTypesRequest) Verdict(verdict string) ApiGetTopEventTypesRequest {
	r.verdict = &verdict
	return r
}

// Specify whether to filter on requests that override security.
func (r ApiGetTopEventTypesRequest) Securityoverridden(securityoverridden bool) ApiGetTopEventTypesRequest {
	r.securityoverridden = &securityoverridden
	return r
}

// A proxy bundle ID.
func (r ApiGetTopEventTypesRequest) Bundleid(bundleid int64) ApiGetTopEventTypesRequest {
	r.bundleid = &bundleid
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetTopEventTypesRequest) Threats(threats string) ApiGetTopEventTypesRequest {
	r.threats = &threats
	return r
}

// A threat type or comma-delimited list of threat types.
func (r ApiGetTopEventTypesRequest) Threattypes(threattypes string) ApiGetTopEventTypesRequest {
	r.threattypes = &threattypes
	return r
}

// An AMP disposition string or a comma-delimited list of AMP disposition strings.
func (r ApiGetTopEventTypesRequest) Ampdisposition(ampdisposition string) ApiGetTopEventTypesRequest {
	r.ampdisposition = &ampdisposition
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetTopEventTypesRequest) Antivirusthreats(antivirusthreats string) ApiGetTopEventTypesRequest {
	r.antivirusthreats = &antivirusthreats
	return r
}

// A string that describes the status of a destination. Filter for requests that are blocked by the DLP layer security.
func (r ApiGetTopEventTypesRequest) Datalosspreventionstate(datalosspreventionstate string) ApiGetTopEventTypesRequest {
	r.datalosspreventionstate = &datalosspreventionstate
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetTopEventTypesRequest) Filternoisydomains(filternoisydomains bool) ApiGetTopEventTypesRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetTopEventTypesRequest) Timezone(timezone string) ApiGetTopEventTypesRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetTopEventTypesRequest) Execute() (*GetTopEventTypes200Response, *http.Response, error) {
	return r.ApiService.GetTopEventTypesExecute(r)
}

/*
GetTopEventTypes Get Top Event Types (All)

List the top event types by the number of requests made for each type of event.
Order the number of requests in descending order.
The valid event types are: `domain_security`, `domain_integration`,
`url_security`, `url_integration`, `cisco_amp`, and `antivirus`.

**Access Scope:** Reports > Aggregations > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTopEventTypesRequest
*/
func (a *TopEventTypesAPIService) GetTopEventTypes(ctx context.Context) ApiGetTopEventTypesRequest {
	return ApiGetTopEventTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetTopEventTypes200Response
func (a *TopEventTypesAPIService) GetTopEventTypesExecute(r ApiGetTopEventTypesRequest) (*GetTopEventTypes200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetTopEventTypes200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TopEventTypesAPIService.GetTopEventTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/top-eventtypes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.domains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domains", r.domains, "form", "")
	}
	if r.urls != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "urls", r.urls, "form", "")
	}
	if r.categories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categories", r.categories, "form", "")
	}
	if r.policycategories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policycategories", r.policycategories, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.applicationid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationid", r.applicationid, "form", "")
	}
	if r.verdict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verdict", r.verdict, "form", "")
	}
	if r.securityoverridden != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "securityoverridden", r.securityoverridden, "form", "")
	}
	if r.bundleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bundleid", r.bundleid, "form", "")
	}
	if r.threats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threats", r.threats, "form", "")
	}
	if r.threattypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threattypes", r.threattypes, "form", "")
	}
	if r.ampdisposition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ampdisposition", r.ampdisposition, "form", "")
	}
	if r.antivirusthreats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "antivirusthreats", r.antivirusthreats, "form", "")
	}
	if r.datalosspreventionstate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datalosspreventionstate", r.datalosspreventionstate, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
