/*
Cisco Secure Access Reports

Reporting App Discovery API Usage Metering

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reports

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SummariesByCategoryAPIService SummariesByCategoryAPI service
type SummariesByCategoryAPIService service

type ApiGetSummariesByCategoryRequest struct {
	ctx context.Context
	ApiService *SummariesByCategoryAPIService
	from *string
	to *string
	limit *int64
	offset *int64
	domains *string
	urls *string
	categories *string
	policycategories *string
	ip *string
	identityids *string
	identitytypes *string
	applicationid *string
	verdict *string
	ruleid *int64
	filename *string
	securityoverridden *bool
	bundleid *int64
	threats *string
	threattypes *string
	ampdisposition *string
	antivirusthreats *string
	datalosspreventionstate *string
	filternoisydomains *bool
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetSummariesByCategoryRequest) From(from string) ApiGetSummariesByCategoryRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetSummariesByCategoryRequest) To(to string) ApiGetSummariesByCategoryRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetSummariesByCategoryRequest) Limit(limit int64) ApiGetSummariesByCategoryRequest {
	r.limit = &limit
	return r
}

// A number that represents an index in the collection.
func (r ApiGetSummariesByCategoryRequest) Offset(offset int64) ApiGetSummariesByCategoryRequest {
	r.offset = &offset
	return r
}

// A domain name or comma-delimited list of domain name.
func (r ApiGetSummariesByCategoryRequest) Domains(domains string) ApiGetSummariesByCategoryRequest {
	r.domains = &domains
	return r
}

// A URL or comma-delimited list of URL.
func (r ApiGetSummariesByCategoryRequest) Urls(urls string) ApiGetSummariesByCategoryRequest {
	r.urls = &urls
	return r
}

// A category ID or comma-delimited list of category ID.
func (r ApiGetSummariesByCategoryRequest) Categories(categories string) ApiGetSummariesByCategoryRequest {
	r.categories = &categories
	return r
}

// A category ID or comma-delimited list of category ID. Filter the request by the categories that trigger a policy.
func (r ApiGetSummariesByCategoryRequest) Policycategories(policycategories string) ApiGetSummariesByCategoryRequest {
	r.policycategories = &policycategories
	return r
}

// An IP address.
func (r ApiGetSummariesByCategoryRequest) Ip(ip string) ApiGetSummariesByCategoryRequest {
	r.ip = &ip
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetSummariesByCategoryRequest) Identityids(identityids string) ApiGetSummariesByCategoryRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetSummariesByCategoryRequest) Identitytypes(identitytypes string) ApiGetSummariesByCategoryRequest {
	r.identitytypes = &identitytypes
	return r
}

// The ID of the application.
func (r ApiGetSummariesByCategoryRequest) Applicationid(applicationid string) ApiGetSummariesByCategoryRequest {
	r.applicationid = &applicationid
	return r
}

// A string or comma-delimited string that describes whether the traffic can reach the destination.
func (r ApiGetSummariesByCategoryRequest) Verdict(verdict string) ApiGetSummariesByCategoryRequest {
	r.verdict = &verdict
	return r
}

// The firewall policy rule ID.
func (r ApiGetSummariesByCategoryRequest) Ruleid(ruleid int64) ApiGetSummariesByCategoryRequest {
	r.ruleid = &ruleid
	return r
}

// A string that identifies a filename. Filter the request by the filename. Supports globbing or use of the wildcard character (&#39;*&#39;). The asterisk (*) matches zero or more occurrences of any character.
func (r ApiGetSummariesByCategoryRequest) Filename(filename string) ApiGetSummariesByCategoryRequest {
	r.filename = &filename
	return r
}

// Specify whether to filter on requests that override security.
func (r ApiGetSummariesByCategoryRequest) Securityoverridden(securityoverridden bool) ApiGetSummariesByCategoryRequest {
	r.securityoverridden = &securityoverridden
	return r
}

// A proxy bundle ID.
func (r ApiGetSummariesByCategoryRequest) Bundleid(bundleid int64) ApiGetSummariesByCategoryRequest {
	r.bundleid = &bundleid
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetSummariesByCategoryRequest) Threats(threats string) ApiGetSummariesByCategoryRequest {
	r.threats = &threats
	return r
}

// A threat type or comma-delimited list of threat types.
func (r ApiGetSummariesByCategoryRequest) Threattypes(threattypes string) ApiGetSummariesByCategoryRequest {
	r.threattypes = &threattypes
	return r
}

// An AMP disposition string or a comma-delimited list of AMP disposition strings.
func (r ApiGetSummariesByCategoryRequest) Ampdisposition(ampdisposition string) ApiGetSummariesByCategoryRequest {
	r.ampdisposition = &ampdisposition
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetSummariesByCategoryRequest) Antivirusthreats(antivirusthreats string) ApiGetSummariesByCategoryRequest {
	r.antivirusthreats = &antivirusthreats
	return r
}

// A string that describes the status of a destination. Filter for requests that are blocked by the DLP layer security.
func (r ApiGetSummariesByCategoryRequest) Datalosspreventionstate(datalosspreventionstate string) ApiGetSummariesByCategoryRequest {
	r.datalosspreventionstate = &datalosspreventionstate
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetSummariesByCategoryRequest) Filternoisydomains(filternoisydomains bool) ApiGetSummariesByCategoryRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

func (r ApiGetSummariesByCategoryRequest) Execute() (*GetSummariesByCategory200Response, *http.Response, error) {
	return r.ApiService.GetSummariesByCategoryExecute(r)
}

/*
GetSummariesByCategory Get Summaries by Category (All)

List the summaries of requests by category.

**Access Scope:** Reports > Aggregations > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSummariesByCategoryRequest
*/
func (a *SummariesByCategoryAPIService) GetSummariesByCategory(ctx context.Context) ApiGetSummariesByCategoryRequest {
	return ApiGetSummariesByCategoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSummariesByCategory200Response
func (a *SummariesByCategoryAPIService) GetSummariesByCategoryExecute(r ApiGetSummariesByCategoryRequest) (*GetSummariesByCategory200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSummariesByCategory200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SummariesByCategoryAPIService.GetSummariesByCategory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/summaries-by-category"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	if r.domains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domains", r.domains, "form", "")
	}
	if r.urls != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "urls", r.urls, "form", "")
	}
	if r.categories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categories", r.categories, "form", "")
	}
	if r.policycategories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policycategories", r.policycategories, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.applicationid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationid", r.applicationid, "form", "")
	}
	if r.verdict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verdict", r.verdict, "form", "")
	}
	if r.ruleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ruleid", r.ruleid, "form", "")
	}
	if r.filename != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	}
	if r.securityoverridden != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "securityoverridden", r.securityoverridden, "form", "")
	}
	if r.bundleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bundleid", r.bundleid, "form", "")
	}
	if r.threats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threats", r.threats, "form", "")
	}
	if r.threattypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threattypes", r.threattypes, "form", "")
	}
	if r.ampdisposition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ampdisposition", r.ampdisposition, "form", "")
	}
	if r.antivirusthreats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "antivirusthreats", r.antivirusthreats, "form", "")
	}
	if r.datalosspreventionstate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datalosspreventionstate", r.datalosspreventionstate, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSummariesByCategoryTypeRequest struct {
	ctx context.Context
	ApiService *SummariesByCategoryAPIService
	type_ string
	from *string
	to *string
	limit *int64
	offset *int64
	domains *string
	urls *string
	categories *string
	policycategories *string
	ip *string
	identityids *string
	identitytypes *string
	applicationid *string
	verdict *string
	ruleid *int64
	filename *string
	securityoverridden *bool
	bundleid *int64
	threats *string
	threattypes *string
	ampdisposition *string
	antivirusthreats *string
	datalosspreventionstate *string
	filternoisydomains *bool
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetSummariesByCategoryTypeRequest) From(from string) ApiGetSummariesByCategoryTypeRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetSummariesByCategoryTypeRequest) To(to string) ApiGetSummariesByCategoryTypeRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetSummariesByCategoryTypeRequest) Limit(limit int64) ApiGetSummariesByCategoryTypeRequest {
	r.limit = &limit
	return r
}

// A number that represents an index in the collection.
func (r ApiGetSummariesByCategoryTypeRequest) Offset(offset int64) ApiGetSummariesByCategoryTypeRequest {
	r.offset = &offset
	return r
}

// A domain name or comma-delimited list of domain name.
func (r ApiGetSummariesByCategoryTypeRequest) Domains(domains string) ApiGetSummariesByCategoryTypeRequest {
	r.domains = &domains
	return r
}

// A URL or comma-delimited list of URL.
func (r ApiGetSummariesByCategoryTypeRequest) Urls(urls string) ApiGetSummariesByCategoryTypeRequest {
	r.urls = &urls
	return r
}

// A category ID or comma-delimited list of category ID.
func (r ApiGetSummariesByCategoryTypeRequest) Categories(categories string) ApiGetSummariesByCategoryTypeRequest {
	r.categories = &categories
	return r
}

// A category ID or comma-delimited list of category ID. Filter the request by the categories that trigger a policy.
func (r ApiGetSummariesByCategoryTypeRequest) Policycategories(policycategories string) ApiGetSummariesByCategoryTypeRequest {
	r.policycategories = &policycategories
	return r
}

// An IP address.
func (r ApiGetSummariesByCategoryTypeRequest) Ip(ip string) ApiGetSummariesByCategoryTypeRequest {
	r.ip = &ip
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetSummariesByCategoryTypeRequest) Identityids(identityids string) ApiGetSummariesByCategoryTypeRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetSummariesByCategoryTypeRequest) Identitytypes(identitytypes string) ApiGetSummariesByCategoryTypeRequest {
	r.identitytypes = &identitytypes
	return r
}

// The ID of the application.
func (r ApiGetSummariesByCategoryTypeRequest) Applicationid(applicationid string) ApiGetSummariesByCategoryTypeRequest {
	r.applicationid = &applicationid
	return r
}

// A string or comma-delimited string that describes whether the traffic can reach the destination.
func (r ApiGetSummariesByCategoryTypeRequest) Verdict(verdict string) ApiGetSummariesByCategoryTypeRequest {
	r.verdict = &verdict
	return r
}

// The firewall policy rule ID.
func (r ApiGetSummariesByCategoryTypeRequest) Ruleid(ruleid int64) ApiGetSummariesByCategoryTypeRequest {
	r.ruleid = &ruleid
	return r
}

// A string that identifies a filename. Filter the request by the filename. Supports globbing or use of the wildcard character (&#39;*&#39;). The asterisk (*) matches zero or more occurrences of any character.
func (r ApiGetSummariesByCategoryTypeRequest) Filename(filename string) ApiGetSummariesByCategoryTypeRequest {
	r.filename = &filename
	return r
}

// Specify whether to filter on requests that override security.
func (r ApiGetSummariesByCategoryTypeRequest) Securityoverridden(securityoverridden bool) ApiGetSummariesByCategoryTypeRequest {
	r.securityoverridden = &securityoverridden
	return r
}

// A proxy bundle ID.
func (r ApiGetSummariesByCategoryTypeRequest) Bundleid(bundleid int64) ApiGetSummariesByCategoryTypeRequest {
	r.bundleid = &bundleid
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetSummariesByCategoryTypeRequest) Threats(threats string) ApiGetSummariesByCategoryTypeRequest {
	r.threats = &threats
	return r
}

// A threat type or comma-delimited list of threat types.
func (r ApiGetSummariesByCategoryTypeRequest) Threattypes(threattypes string) ApiGetSummariesByCategoryTypeRequest {
	r.threattypes = &threattypes
	return r
}

// An AMP disposition string or a comma-delimited list of AMP disposition strings.
func (r ApiGetSummariesByCategoryTypeRequest) Ampdisposition(ampdisposition string) ApiGetSummariesByCategoryTypeRequest {
	r.ampdisposition = &ampdisposition
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetSummariesByCategoryTypeRequest) Antivirusthreats(antivirusthreats string) ApiGetSummariesByCategoryTypeRequest {
	r.antivirusthreats = &antivirusthreats
	return r
}

// A string that describes the status of a destination. Filter for requests that are blocked by the DLP layer security.
func (r ApiGetSummariesByCategoryTypeRequest) Datalosspreventionstate(datalosspreventionstate string) ApiGetSummariesByCategoryTypeRequest {
	r.datalosspreventionstate = &datalosspreventionstate
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetSummariesByCategoryTypeRequest) Filternoisydomains(filternoisydomains bool) ApiGetSummariesByCategoryTypeRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

func (r ApiGetSummariesByCategoryTypeRequest) Execute() (*GetSummariesByCategory200Response, *http.Response, error) {
	return r.ApiService.GetSummariesByCategoryTypeExecute(r)
}

/*
GetSummariesByCategoryType Get Summaries by Category For Type

List the summaries by category for the type of request.

**Access Scope:** Reports > Aggregations > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param type_ Specify the type of traffic.
 @return ApiGetSummariesByCategoryTypeRequest
*/
func (a *SummariesByCategoryAPIService) GetSummariesByCategoryType(ctx context.Context, type_ string) ApiGetSummariesByCategoryTypeRequest {
	return ApiGetSummariesByCategoryTypeRequest{
		ApiService: a,
		ctx: ctx,
		type_: type_,
	}
}

// Execute executes the request
//  @return GetSummariesByCategory200Response
func (a *SummariesByCategoryAPIService) GetSummariesByCategoryTypeExecute(r ApiGetSummariesByCategoryTypeRequest) (*GetSummariesByCategory200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSummariesByCategory200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SummariesByCategoryAPIService.GetSummariesByCategoryType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/summaries-by-category/{type}"
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	if r.domains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domains", r.domains, "form", "")
	}
	if r.urls != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "urls", r.urls, "form", "")
	}
	if r.categories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categories", r.categories, "form", "")
	}
	if r.policycategories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policycategories", r.policycategories, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.applicationid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationid", r.applicationid, "form", "")
	}
	if r.verdict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verdict", r.verdict, "form", "")
	}
	if r.ruleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ruleid", r.ruleid, "form", "")
	}
	if r.filename != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	}
	if r.securityoverridden != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "securityoverridden", r.securityoverridden, "form", "")
	}
	if r.bundleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bundleid", r.bundleid, "form", "")
	}
	if r.threats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threats", r.threats, "form", "")
	}
	if r.threattypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threattypes", r.threattypes, "form", "")
	}
	if r.ampdisposition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ampdisposition", r.ampdisposition, "form", "")
	}
	if r.antivirusthreats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "antivirusthreats", r.antivirusthreats, "form", "")
	}
	if r.datalosspreventionstate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datalosspreventionstate", r.datalosspreventionstate, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
