// Copyright 2025 Cisco Systems, Inc. and its affiliates
//
// SPDX-License-Identifier: Apache-2.0

/*
Cisco Secure Access Reports

Reporting App Discovery API Usage Metering

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reports

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TopIdentitiesAPIService TopIdentitiesAPI service
type TopIdentitiesAPIService service

type ApiGetTopIdentitiesRequest struct {
	ctx context.Context
	ApiService *TopIdentitiesAPIService
	from *string
	to *string
	limit *int64
	offset *int64
	domains *string
	urls *string
	categories *string
	policycategories *string
	ip *string
	ports *string
	identityids *string
	identitytypes *string
	applicationid *string
	verdict *string
	sha256 *string
	securityoverridden *bool
	bundleid *int64
	threats *string
	threattypes *string
	ampdisposition *string
	antivirusthreats *string
	datalosspreventionstate *string
	filternoisydomains *bool
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetTopIdentitiesRequest) From(from string) ApiGetTopIdentitiesRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetTopIdentitiesRequest) To(to string) ApiGetTopIdentitiesRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetTopIdentitiesRequest) Limit(limit int64) ApiGetTopIdentitiesRequest {
	r.limit = &limit
	return r
}

// A number that represents an index in the collection.
func (r ApiGetTopIdentitiesRequest) Offset(offset int64) ApiGetTopIdentitiesRequest {
	r.offset = &offset
	return r
}

// A domain name or comma-delimited list of domain name.
func (r ApiGetTopIdentitiesRequest) Domains(domains string) ApiGetTopIdentitiesRequest {
	r.domains = &domains
	return r
}

// A URL or comma-delimited list of URL.
func (r ApiGetTopIdentitiesRequest) Urls(urls string) ApiGetTopIdentitiesRequest {
	r.urls = &urls
	return r
}

// A category ID or comma-delimited list of category ID.
func (r ApiGetTopIdentitiesRequest) Categories(categories string) ApiGetTopIdentitiesRequest {
	r.categories = &categories
	return r
}

// A category ID or comma-delimited list of category ID. Filter the request by the categories that trigger a policy.
func (r ApiGetTopIdentitiesRequest) Policycategories(policycategories string) ApiGetTopIdentitiesRequest {
	r.policycategories = &policycategories
	return r
}

// An IP address.
func (r ApiGetTopIdentitiesRequest) Ip(ip string) ApiGetTopIdentitiesRequest {
	r.ip = &ip
	return r
}

// A port number or comma-delimited list of port numbers.
func (r ApiGetTopIdentitiesRequest) Ports(ports string) ApiGetTopIdentitiesRequest {
	r.ports = &ports
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetTopIdentitiesRequest) Identityids(identityids string) ApiGetTopIdentitiesRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetTopIdentitiesRequest) Identitytypes(identitytypes string) ApiGetTopIdentitiesRequest {
	r.identitytypes = &identitytypes
	return r
}

// The ID of the application.
func (r ApiGetTopIdentitiesRequest) Applicationid(applicationid string) ApiGetTopIdentitiesRequest {
	r.applicationid = &applicationid
	return r
}

// A string or comma-delimited string that describes whether the traffic can reach the destination.
func (r ApiGetTopIdentitiesRequest) Verdict(verdict string) ApiGetTopIdentitiesRequest {
	r.verdict = &verdict
	return r
}

// A SHA-256 hash.
func (r ApiGetTopIdentitiesRequest) Sha256(sha256 string) ApiGetTopIdentitiesRequest {
	r.sha256 = &sha256
	return r
}

// Specify whether to filter on requests that override security.
func (r ApiGetTopIdentitiesRequest) Securityoverridden(securityoverridden bool) ApiGetTopIdentitiesRequest {
	r.securityoverridden = &securityoverridden
	return r
}

// A proxy bundle ID.
func (r ApiGetTopIdentitiesRequest) Bundleid(bundleid int64) ApiGetTopIdentitiesRequest {
	r.bundleid = &bundleid
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetTopIdentitiesRequest) Threats(threats string) ApiGetTopIdentitiesRequest {
	r.threats = &threats
	return r
}

// A threat type or comma-delimited list of threat types.
func (r ApiGetTopIdentitiesRequest) Threattypes(threattypes string) ApiGetTopIdentitiesRequest {
	r.threattypes = &threattypes
	return r
}

// An AMP disposition string or a comma-delimited list of AMP disposition strings.
func (r ApiGetTopIdentitiesRequest) Ampdisposition(ampdisposition string) ApiGetTopIdentitiesRequest {
	r.ampdisposition = &ampdisposition
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetTopIdentitiesRequest) Antivirusthreats(antivirusthreats string) ApiGetTopIdentitiesRequest {
	r.antivirusthreats = &antivirusthreats
	return r
}

// A string that describes the status of a destination. Filter for requests that are blocked by the DLP layer security.
func (r ApiGetTopIdentitiesRequest) Datalosspreventionstate(datalosspreventionstate string) ApiGetTopIdentitiesRequest {
	r.datalosspreventionstate = &datalosspreventionstate
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetTopIdentitiesRequest) Filternoisydomains(filternoisydomains bool) ApiGetTopIdentitiesRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetTopIdentitiesRequest) Timezone(timezone string) ApiGetTopIdentitiesRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetTopIdentitiesRequest) Execute() (*GetTopIdentities200Response, *http.Response, error) {
	return r.ApiService.GetTopIdentitiesExecute(r)
}

/*
GetTopIdentities Get Top Identities (All)

List the identities by the number of requests made, sorted in descending order.

**Access Scope:** Reports > Aggregations > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTopIdentitiesRequest
*/
func (a *TopIdentitiesAPIService) GetTopIdentities(ctx context.Context) ApiGetTopIdentitiesRequest {
	return ApiGetTopIdentitiesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetTopIdentities200Response
func (a *TopIdentitiesAPIService) GetTopIdentitiesExecute(r ApiGetTopIdentitiesRequest) (*GetTopIdentities200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetTopIdentities200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TopIdentitiesAPIService.GetTopIdentities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/top-identities"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	if r.domains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domains", r.domains, "form", "")
	}
	if r.urls != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "urls", r.urls, "form", "")
	}
	if r.categories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categories", r.categories, "form", "")
	}
	if r.policycategories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policycategories", r.policycategories, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.ports != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ports", r.ports, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.applicationid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationid", r.applicationid, "form", "")
	}
	if r.verdict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verdict", r.verdict, "form", "")
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha256", r.sha256, "form", "")
	}
	if r.securityoverridden != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "securityoverridden", r.securityoverridden, "form", "")
	}
	if r.bundleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bundleid", r.bundleid, "form", "")
	}
	if r.threats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threats", r.threats, "form", "")
	}
	if r.threattypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threattypes", r.threattypes, "form", "")
	}
	if r.ampdisposition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ampdisposition", r.ampdisposition, "form", "")
	}
	if r.antivirusthreats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "antivirusthreats", r.antivirusthreats, "form", "")
	}
	if r.datalosspreventionstate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datalosspreventionstate", r.datalosspreventionstate, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTopIdentitiesTypeRequest struct {
	ctx context.Context
	ApiService *TopIdentitiesAPIService
	type_ string
	from *string
	to *string
	limit *int64
	offset *int64
	domains *string
	urls *string
	categories *string
	policycategories *string
	ip *string
	ports *string
	identityids *string
	identitytypes *string
	applicationid *string
	verdict *string
	sha256 *string
	securityoverridden *bool
	bundleid *int64
	threats *string
	threattypes *string
	ampdisposition *string
	antivirusthreats *string
	datalosspreventionstate *string
	filternoisydomains *bool
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetTopIdentitiesTypeRequest) From(from string) ApiGetTopIdentitiesTypeRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetTopIdentitiesTypeRequest) To(to string) ApiGetTopIdentitiesTypeRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetTopIdentitiesTypeRequest) Limit(limit int64) ApiGetTopIdentitiesTypeRequest {
	r.limit = &limit
	return r
}

// A number that represents an index in the collection.
func (r ApiGetTopIdentitiesTypeRequest) Offset(offset int64) ApiGetTopIdentitiesTypeRequest {
	r.offset = &offset
	return r
}

// A domain name or comma-delimited list of domain name.
func (r ApiGetTopIdentitiesTypeRequest) Domains(domains string) ApiGetTopIdentitiesTypeRequest {
	r.domains = &domains
	return r
}

// A URL or comma-delimited list of URL.
func (r ApiGetTopIdentitiesTypeRequest) Urls(urls string) ApiGetTopIdentitiesTypeRequest {
	r.urls = &urls
	return r
}

// A category ID or comma-delimited list of category ID.
func (r ApiGetTopIdentitiesTypeRequest) Categories(categories string) ApiGetTopIdentitiesTypeRequest {
	r.categories = &categories
	return r
}

// A category ID or comma-delimited list of category ID. Filter the request by the categories that trigger a policy.
func (r ApiGetTopIdentitiesTypeRequest) Policycategories(policycategories string) ApiGetTopIdentitiesTypeRequest {
	r.policycategories = &policycategories
	return r
}

// An IP address.
func (r ApiGetTopIdentitiesTypeRequest) Ip(ip string) ApiGetTopIdentitiesTypeRequest {
	r.ip = &ip
	return r
}

// A port number or comma-delimited list of port numbers.
func (r ApiGetTopIdentitiesTypeRequest) Ports(ports string) ApiGetTopIdentitiesTypeRequest {
	r.ports = &ports
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetTopIdentitiesTypeRequest) Identityids(identityids string) ApiGetTopIdentitiesTypeRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetTopIdentitiesTypeRequest) Identitytypes(identitytypes string) ApiGetTopIdentitiesTypeRequest {
	r.identitytypes = &identitytypes
	return r
}

// The ID of the application.
func (r ApiGetTopIdentitiesTypeRequest) Applicationid(applicationid string) ApiGetTopIdentitiesTypeRequest {
	r.applicationid = &applicationid
	return r
}

// A string or comma-delimited string that describes whether the traffic can reach the destination.
func (r ApiGetTopIdentitiesTypeRequest) Verdict(verdict string) ApiGetTopIdentitiesTypeRequest {
	r.verdict = &verdict
	return r
}

// A SHA-256 hash.
func (r ApiGetTopIdentitiesTypeRequest) Sha256(sha256 string) ApiGetTopIdentitiesTypeRequest {
	r.sha256 = &sha256
	return r
}

// Specify whether to filter on requests that override security.
func (r ApiGetTopIdentitiesTypeRequest) Securityoverridden(securityoverridden bool) ApiGetTopIdentitiesTypeRequest {
	r.securityoverridden = &securityoverridden
	return r
}

// A proxy bundle ID.
func (r ApiGetTopIdentitiesTypeRequest) Bundleid(bundleid int64) ApiGetTopIdentitiesTypeRequest {
	r.bundleid = &bundleid
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetTopIdentitiesTypeRequest) Threats(threats string) ApiGetTopIdentitiesTypeRequest {
	r.threats = &threats
	return r
}

// A threat type or comma-delimited list of threat types.
func (r ApiGetTopIdentitiesTypeRequest) Threattypes(threattypes string) ApiGetTopIdentitiesTypeRequest {
	r.threattypes = &threattypes
	return r
}

// An AMP disposition string or a comma-delimited list of AMP disposition strings.
func (r ApiGetTopIdentitiesTypeRequest) Ampdisposition(ampdisposition string) ApiGetTopIdentitiesTypeRequest {
	r.ampdisposition = &ampdisposition
	return r
}

// A threat name or comma-delimited list of threat names.
func (r ApiGetTopIdentitiesTypeRequest) Antivirusthreats(antivirusthreats string) ApiGetTopIdentitiesTypeRequest {
	r.antivirusthreats = &antivirusthreats
	return r
}

// A string that describes the status of a destination. Filter for requests that are blocked by the DLP layer security.
func (r ApiGetTopIdentitiesTypeRequest) Datalosspreventionstate(datalosspreventionstate string) ApiGetTopIdentitiesTypeRequest {
	r.datalosspreventionstate = &datalosspreventionstate
	return r
}

// Filter out domains that generate a lot of insignificant traffic (noise).
func (r ApiGetTopIdentitiesTypeRequest) Filternoisydomains(filternoisydomains bool) ApiGetTopIdentitiesTypeRequest {
	r.filternoisydomains = &filternoisydomains
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetTopIdentitiesTypeRequest) Timezone(timezone string) ApiGetTopIdentitiesTypeRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetTopIdentitiesTypeRequest) Execute() (*GetTopIdentities200Response, *http.Response, error) {
	return r.ApiService.GetTopIdentitiesTypeExecute(r)
}

/*
GetTopIdentitiesType Get Top Identities

List the identities for the specific traffic type by the number of requests.
Sort the results in descending order.

**Access Scope:** Reports > Aggregations > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param type_ Specify the type of traffic.
 @return ApiGetTopIdentitiesTypeRequest
*/
func (a *TopIdentitiesAPIService) GetTopIdentitiesType(ctx context.Context, type_ string) ApiGetTopIdentitiesTypeRequest {
	return ApiGetTopIdentitiesTypeRequest{
		ApiService: a,
		ctx: ctx,
		type_: type_,
	}
}

// Execute executes the request
//  @return GetTopIdentities200Response
func (a *TopIdentitiesAPIService) GetTopIdentitiesTypeExecute(r ApiGetTopIdentitiesTypeRequest) (*GetTopIdentities200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetTopIdentities200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TopIdentitiesAPIService.GetTopIdentitiesType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/top-identities/{type}"
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	if r.domains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domains", r.domains, "form", "")
	}
	if r.urls != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "urls", r.urls, "form", "")
	}
	if r.categories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categories", r.categories, "form", "")
	}
	if r.policycategories != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policycategories", r.policycategories, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.ports != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ports", r.ports, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.applicationid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationid", r.applicationid, "form", "")
	}
	if r.verdict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verdict", r.verdict, "form", "")
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha256", r.sha256, "form", "")
	}
	if r.securityoverridden != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "securityoverridden", r.securityoverridden, "form", "")
	}
	if r.bundleid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bundleid", r.bundleid, "form", "")
	}
	if r.threats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threats", r.threats, "form", "")
	}
	if r.threattypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threattypes", r.threattypes, "form", "")
	}
	if r.ampdisposition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ampdisposition", r.ampdisposition, "form", "")
	}
	if r.antivirusthreats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "antivirusthreats", r.antivirusthreats, "form", "")
	}
	if r.datalosspreventionstate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datalosspreventionstate", r.datalosspreventionstate, "form", "")
	}
	if r.filternoisydomains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filternoisydomains", r.filternoisydomains, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
