/*
Cisco Secure Access Reports

Reporting App Discovery API Usage Metering

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reports

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// UsageMetricsAPIService UsageMetricsAPI service
type UsageMetricsAPIService service

type ApiGetUsageMetricsRequest struct {
	ctx context.Context
	ApiService *UsageMetricsAPIService
	organizationId *int64
	productId *string
	from *string
	to *string
	timeGroupingInterval *string
	page *string
}

// The unique Secure Access organization ID.
func (r ApiGetUsageMetricsRequest) OrganizationId(organizationId int64) ApiGetUsageMetricsRequest {
	r.organizationId = &organizationId
	return r
}

// The unique source ID of the usage report, for example: SWG, RAVPN, CHNE. Use &#x60;0&#x60; to search for all products.
func (r ApiGetUsageMetricsRequest) ProductId(productId string) ApiGetUsageMetricsRequest {
	r.productId = &productId
	return r
}

// The date and time specified in the RFC-3339 format, for example: 2023-10-01. Filter the collection for data that appears after this time.
func (r ApiGetUsageMetricsRequest) From(from string) ApiGetUsageMetricsRequest {
	r.from = &from
	return r
}

// The date and time specified in the RFC-3339 format, for example: 2023-10-01. Filter the collection for data that appears before this time.
func (r ApiGetUsageMetricsRequest) To(to string) ApiGetUsageMetricsRequest {
	r.to = &to
	return r
}

// A time period specified as a segment of time. The usage report is collected within the time internal. Valid values are: &#x60;HOUR&#x60;, &#x60;DAY&#x60;, &#x60;WEEK&#x60;, &#x60;MONTH&#x60;.
func (r ApiGetUsageMetricsRequest) TimeGroupingInterval(timeGroupingInterval string) ApiGetUsageMetricsRequest {
	r.timeGroupingInterval = &timeGroupingInterval
	return r
}

// The page number that represents where to start reading in the collection. A page in the collection has a maximum of 1000 records. When a response has more than 1000 records, the &#x60;next&#x60; field is returned in the response. The &#x60;next&#x60; field is set to the API request URL for the next page of records in the collection.
func (r ApiGetUsageMetricsRequest) Page(page string) ApiGetUsageMetricsRequest {
	r.page = &page
	return r
}

func (r ApiGetUsageMetricsRequest) Execute() (*GetUsageMetrics200Response, *http.Response, error) {
	return r.ApiService.GetUsageMetricsExecute(r)
}

/*
GetUsageMetrics List Usage Metrics

List the usage metrics for the organization.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetUsageMetricsRequest
*/
func (a *UsageMetricsAPIService) GetUsageMetrics(ctx context.Context) ApiGetUsageMetricsRequest {
	return ApiGetUsageMetricsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetUsageMetrics200Response
func (a *UsageMetricsAPIService) GetUsageMetricsExecute(r ApiGetUsageMetricsRequest) (*GetUsageMetrics200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetUsageMetrics200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageMetricsAPIService.GetUsageMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/usage/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationId == nil {
		return localVarReturnValue, nil, reportError("organizationId is required and must be specified")
	}
	if r.productId == nil {
		return localVarReturnValue, nil, reportError("productId is required and must be specified")
	}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.timeGroupingInterval == nil {
		return localVarReturnValue, nil, reportError("timeGroupingInterval is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "product_id", r.productId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "time_grouping_interval", r.timeGroupingInterval, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
