// Copyright 2025 Cisco Systems, Inc. and its affiliates
//
// SPDX-License-Identifier: Apache-2.0

/*
Cisco Secure Access Reports

Reporting App Discovery API Usage Metering

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reports

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// RemoteAccessAPIService RemoteAccessAPI service
type RemoteAccessAPIService service

type ApiGetRemoteAccessEventsRequest struct {
	ctx context.Context
	ApiService *RemoteAccessAPIService
	from *string
	to *string
	limit *int64
	ip *string
	identityids *string
	identitytypes *string
	connectionevent *string
	anyconnectversions *string
	osversions *string
	timezone *string
}

// A timestamp or relative time string (for example: &#39;-1days&#39;). Filter for data that appears after this time.
func (r ApiGetRemoteAccessEventsRequest) From(from string) ApiGetRemoteAccessEventsRequest {
	r.from = &from
	return r
}

// A timestamp or relative time string (for example: &#39;now&#39;). Filter for data that appears before this time.
func (r ApiGetRemoteAccessEventsRequest) To(to string) ApiGetRemoteAccessEventsRequest {
	r.to = &to
	return r
}

// The maximum number of records to return from the collection.
func (r ApiGetRemoteAccessEventsRequest) Limit(limit int64) ApiGetRemoteAccessEventsRequest {
	r.limit = &limit
	return r
}

// An IP address.
func (r ApiGetRemoteAccessEventsRequest) Ip(ip string) ApiGetRemoteAccessEventsRequest {
	r.ip = &ip
	return r
}

// An identity ID or comma-delimited list of identity IDs.
func (r ApiGetRemoteAccessEventsRequest) Identityids(identityids string) ApiGetRemoteAccessEventsRequest {
	r.identityids = &identityids
	return r
}

// An identity type or comma-delimited list of identity types.
func (r ApiGetRemoteAccessEventsRequest) Identitytypes(identitytypes string) ApiGetRemoteAccessEventsRequest {
	r.identitytypes = &identitytypes
	return r
}

// Specify the type of connection event.
func (r ApiGetRemoteAccessEventsRequest) Connectionevent(connectionevent string) ApiGetRemoteAccessEventsRequest {
	r.connectionevent = &connectionevent
	return r
}

// Specify a comma-separated list of AnyConnect Roaming Security module versions.
func (r ApiGetRemoteAccessEventsRequest) Anyconnectversions(anyconnectversions string) ApiGetRemoteAccessEventsRequest {
	r.anyconnectversions = &anyconnectversions
	return r
}

// Specify a comma-separated list of OS versions.
func (r ApiGetRemoteAccessEventsRequest) Osversions(osversions string) ApiGetRemoteAccessEventsRequest {
	r.osversions = &osversions
	return r
}

// Display the timestamp of the traffic events in the specified timezone. For the timezone, provide a continent and city separated by an url-encoded forward slash (&#39;/&#39;), for example: timezone&#x3D;&#39;ASIA%2fCALCUTTA&#39;.
func (r ApiGetRemoteAccessEventsRequest) Timezone(timezone string) ApiGetRemoteAccessEventsRequest {
	r.timezone = &timezone
	return r
}

func (r ApiGetRemoteAccessEventsRequest) Execute() (*GetRemoteAccessEvents200Response, *http.Response, error) {
	return r.ApiService.GetRemoteAccessEventsExecute(r)
}

/*
GetRemoteAccessEvents Get Remote Access Events

List the events logged by remote access VPN.

**Access Scope:** Reports > Granular Events > Read-Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetRemoteAccessEventsRequest
*/
func (a *RemoteAccessAPIService) GetRemoteAccessEvents(ctx context.Context) ApiGetRemoteAccessEventsRequest {
	return ApiGetRemoteAccessEventsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetRemoteAccessEvents200Response
func (a *RemoteAccessAPIService) GetRemoteAccessEventsExecute(r ApiGetRemoteAccessEventsRequest) (*GetRemoteAccessEvents200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRemoteAccessEvents200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemoteAccessAPIService.GetRemoteAccessEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/v2/remote-access-events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.identityids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identityids", r.identityids, "form", "")
	}
	if r.identitytypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identitytypes", r.identitytypes, "form", "")
	}
	if r.connectionevent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "connectionevent", r.connectionevent, "form", "")
	}
	if r.anyconnectversions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "anyconnectversions", r.anyconnectversions, "form", "")
	}
	if r.osversions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "osversions", r.osversions, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetActivities400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetActivities401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetActivities403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetActivities404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetActivities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
