openapi: 3.0.1
info:
  contact:
    name: Cloud Security Developer Community
  description: |-
    Reporting
    App Discovery
    API Usage
    Metering
  title: Cisco Secure Access Reports
  version: 1.0.0
servers:
- url: https://api.sse.cisco.com
security:
- oauthFlow: []
tags:
- name: Identities
paths:
  /reports/v2/activity:
    get:
      description: |-
        List all activities (dns/proxy/firewall/ip/intrusion/ztna/decryption) within the timeframe.
        **Note:** The IP activity report is not available.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivities
      parameters:
      - description: |-
          A timestamp or relative time string (for example: '-1days').
          Filter for data that appears after this time.
        example: "1639146300000"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: |-
          A timestamp or relative time string (for example: 'now').
          Filter for data that appears before this time.
        example: "1640010300000"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: A number that represents an index in the collection.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: The maximum number of records to return from the collection.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          type: number
        style: form
      - description: A domain name or comma-delimited list of domain name.
        example: "cisco.com,nasa.gov"
        explode: true
        in: query
        name: domains
        required: false
        schema:
          type: string
        style: form
      - description: A URL or comma-delimited list of URL.
        example: "https://google.com,facebook.com/help"
        explode: true
        in: query
        name: urls
        required: false
        schema:
          type: string
        style: form
      - description: A category ID or comma-delimited list of category ID.
        example: "148,151,66"
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      - description: |-
          A category ID or comma-delimited list of category ID.
          Filter the request by the categories that trigger a policy.
        example: "67,69"
        explode: true
        in: query
        name: policycategories
        required: false
        schema:
          type: string
        style: form
      - description: An IP address.
        example: 10.10.10.10
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      - description: A port number or comma-delimited list of port numbers.
        example: "7351,80"
        explode: true
        in: query
        name: ports
        required: false
        schema:
          type: string
        style: form
      - description: An identity ID or comma-delimited list of identity IDs.
        example: "1,2,3"
        explode: true
        in: query
        name: identityids
        required: false
        schema:
          type: string
        style: form
      - description: An identity type or comma-delimited list of identity types.
        example: "network,roaming"
        explode: true
        in: query
        name: identitytypes
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the application.
        example: "1"
        explode: true
        in: query
        name: applicationid
        required: false
        schema:
          type: string
        style: form
      - description: A string or comma-delimited string that describes whether the
          traffic can reach the destination.
        example: "allowed,blocked"
        explode: true
        in: query
        name: verdict
        required: false
        schema:
          type: string
        style: form
      - description: The firewall policy rule ID.
        example: 1
        explode: true
        in: query
        name: ruleid
        required: false
        schema:
          type: number
        style: form
      - description: |-
          A string that identifies a filename. Filter the request by the filename.
          Supports globbing or use of the wildcard character ('*'). The asterisk (*) matches
          zero or more occurrences of any character.
        example: myfilename_*
        explode: true
        in: query
        name: filename
        required: false
        schema:
          type: string
        style: form
      - description: Specify whether to filter on requests that override security.
        example: true
        explode: true
        in: query
        name: securityoverridden
        required: false
        schema:
          type: boolean
        style: form
      - description: A proxy bundle ID.
        example: 1
        explode: true
        in: query
        name: bundleid
        required: false
        schema:
          type: number
        style: form
      - description: A threat name or comma-delimited list of threat names.
        explode: true
        in: query
        name: threats
        required: false
        schema:
          type: string
        style: form
      - description: A threat type or comma-delimited list of threat types.
        explode: true
        in: query
        name: threattypes
        required: false
        schema:
          type: string
        style: form
      - description: An AMP disposition string or a comma-delimited list of AMP disposition
          strings.
        example: "clean,malicious,unknown"
        explode: true
        in: query
        name: ampdisposition
        required: false
        schema:
          type: string
        style: form
      - description: A threat name or comma-delimited list of threat names.
        example: Trojan.Linux.Generic.144075
        explode: true
        in: query
        name: antivirusthreats
        required: false
        schema:
          type: string
        style: form
      - description: |-
          A string or comma-delimited list of strings that describes the type of traffic.
          If the header is not set, the default value is `all`. Valid values are: `dns`, `proxy`, `firewall`, and `ip`.
        example: "dns,proxy,firewall,ip"
        explode: false
        in: header
        name: x-traffic-type
        required: false
        schema:
          type: string
        style: simple
      - description: A string that describes the remote browser isolation (RBI) isolation
          type.
        example: isolated
        explode: true
        in: query
        name: isolatedstate
        required: false
        schema:
          enum:
          - isolated
          - not-isolated
          type: string
        style: form
      - description: A string that describes the remote browser isolation (RBI) file
          action type.
        example: downloaded-safe-pdf
        explode: true
        in: query
        name: isolatedFileAction
        required: false
        schema:
          enum:
          - viewed
          - downloaded-original-file
          - downloaded-safe-pdf
          type: string
        style: form
      - description: |-
          A string that describes the status of a destination.
          Filter for requests that are blocked by the DLP layer security.
        example: blocked
        explode: true
        in: query
        name: datalosspreventionstate
        required: false
        schema:
          enum:
          - blocked
          type: string
        style: form
      - description: Filter out domains that generate a lot of insignificant traffic
          (noise).
        example: true
        explode: true
        in: query
        name: filternoisydomains
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter data for requests that resulted in a TLS error or a certificate
          error.
        example: certificateerror
        explode: true
        in: query
        name: httperrors
        required: false
        schema:
          enum:
          - certificateerror
          - tlserror
          type: string
        style: form
      - description: |-
          Specify an attribute or comma-separated list of attributes to filter the data.
          Valid values are: `categories`, `policycategories`, `applicationid`,
          `nbarapplicationid`, `nbarapplicationtypeids`, `privateapplicationid`, `applicationgroupids`,
          `sha256`, `filename`, `threats`, `threattypes`, `antivirusthreats`, `destinationlistids`, and `httperrors`.
        example: "destinationlistids,threattypes"
        explode: true
        in: query
        name: exists
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Display the timestamp of the traffic events in the specified timezone.
          For the timezone, provide a continent and city separated by an url-encoded forward slash ('/'), for example: timezone='ASIA%2fCALCUTTA'.
        example: ASIA%2fCALCUTTA
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                meta: {}
                data:
                - externalip: 52.8.160.247
                  internalip: 52.8.160.247
                  policycategories:
                  - id: 66
                    label: Malware
                    type: security
                    integration: true
                  categories:
                  - id: 66
                    label: Malware
                    type: security
                    integration: true
                  verdict: allowed
                  domain: google.com
                  timestamp: 1731002169000
                  time: 06:31:46
                  date: 2019-01-24
                  identities:
                  - id: 1
                    label: Catch Rate Testing System
                    type:
                      id: 21
                      label: Sites
                      type: site
                    deleted: true
                  threats:
                  - label: Wannacry
                    type: Ransomware
                  allapplications:
                  - id: 1
                    label: label
                    type: NBAR
                    category:
                      id: 1
                      label: category
                  allowedapplications:
                  - id: 1
                    label: label
                    type: NBAR
                    category:
                      id: 1
                      label: category
                  querytype: MX
                  returncode: 2
                  blockedapplications: []
                  type: dns
              schema:
                $ref: '#/components/schemas/getActivities_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_400_response'
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_401_response'
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_403_response'
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_404_response'
          description: Not Found
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_500_response'
          description: Internal Server Error
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
      security:
      - oauthFlow:
        - reports.aggregations:read
      summary: Get Activities (all)
      tags:
      - Activity
  /reports/v2/activity/dns:
    get:
      description: |-
        List all DNS entries within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityDns
      parameters:
      - description: |-
          A timestamp or relative time string (for example: '-1days').
          Filter for data that appears after this time.
        example: "1639146300000"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: |-
          A timestamp or relative time string (for example: 'now').
          Filter for data that appears before this time.
        example: "1640010300000"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: A number that represents an index in the collection.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: "A string that describes how to order the results: ascending\
          \ (`asc`) or descending (`desc`)."
        example: desc
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: The maximum number of records to return from the collection.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          type: number
        style: form
      - description: A domain name or comma-delimited list of domain name.
        example: "cisco.com,nasa.gov"
        explode: true
        in: query
        name: domains
        required: false
        schema:
          type: string
        style: form
      - description: A category ID or comma-delimited list of category ID.
        example: "148,151,66"
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      - description: |-
          A category ID or comma-delimited list of category ID.
          Filter the request by the categories that trigger a policy.
        example: "67,69"
        explode: true
        in: query
        name: policycategories
        required: false
        schema:
          type: string
        style: form
      - description: An IP address.
        example: 10.10.10.10
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      - description: An identity ID or comma-delimited list of identity IDs.
        example: "1,2,3"
        explode: true
        in: query
        name: identityids
        required: false
        schema:
          type: string
        style: form
      - description: An identity type or comma-delimited list of identity types.
        example: "network,roaming"
        explode: true
        in: query
        name: identitytypes
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the application.
        example: "1"
        explode: true
        in: query
        name: applicationid
        required: false
        schema:
          type: string
        style: form
      - description: A string or comma-delimited string that describes whether the
          traffic can reach the destination.
        example: "allowed,blocked"
        explode: true
        in: query
        name: verdict
        required: false
        schema:
          type: string
        style: form
      - description: A threat name or comma-delimited list of threat names.
        explode: true
        in: query
        name: threats
        required: false
        schema:
          type: string
        style: form
      - description: A threat type or comma-delimited list of threat types.
        explode: true
        in: query
        name: threattypes
        required: false
        schema:
          type: string
        style: form
      - description: Filter out domains that generate a lot of insignificant traffic
          (noise).
        example: true
        explode: true
        in: query
        name: filternoisydomains
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Display the timestamp of the traffic events in the specified timezone.
          For the timezone, provide a continent and city separated by an url-encoded forward slash ('/'), for example: timezone='ASIA%2fCALCUTTA'.
        example: ASIA%2fCALCUTTA
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - externalip: 52.8.160.247
                  internalip: 52.8.160.247
                  policycategories:
                  - id: 66
                    label: Malware
                    type: security
                    integration: true
                  categories:
                  - id: 66
                    label: Malware
                    type: security
                    integration: true
                  verdict: allowed
                  domain: google.com
                  timestamp: 1731002169000
                  time: 06:31:46
                  date: 2019-01-24
                  identities:
                  - id: 1
                    label: Catch Rate Testing System
                    type:
                      id: 21
                      label: Sites
                      type: site
                    deleted: true
                  threats:
                  - label: Wannacry
                    type: Ransomware
                  allapplications:
                  - id: 1
                    label: label
                    type: NBAR
                    category:
                      id: 1
                      label: category
                  allowedapplications:
                  - id: 1
                    label: label
                    type: NBAR
                    category:
                      id: 1
                      label: category
                  querytype: MX
                  returncode: 2
                  blockedapplications: []
                  type: dns
                meta: {}
              schema:
                $ref: '#/components/schemas/getActivityDns_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_400_response'
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_401_response'
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_403_response'
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_404_response'
          description: Not Found
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_500_response'
          description: Internal Server Error
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
      security:
      - oauthFlow:
        - reports.aggregations:read
      summary: Get Activity DNS
      tags:
      - Activity
  /reports/v2/activity/proxy:
    get:
      description: |-
        List all proxy entries within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityProxy
      parameters:
      - description: |-
          A timestamp or relative time string (for example: '-1days').
          Filter for data that appears after this time.
        example: "1639146300000"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: |-
          A timestamp or relative time string (for example: 'now').
          Filter for data that appears before this time.
        example: "1640010300000"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: "A string that describes how to order the results: ascending\
          \ (`asc`) or descending (`desc`)."
        example: desc
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: The maximum number of records to return from the collection.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          type: number
        style: form
      - description: A number that represents an index in the collection.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: A domain name or comma-delimited list of domain name.
        example: "cisco.com,nasa.gov"
        explode: true
        in: query
        name: domains
        required: false
        schema:
          type: string
        style: form
      - description: A URL or comma-delimited list of URL.
        example: "https://google.com,facebook.com/help"
        explode: true
        in: query
        name: urls
        required: false
        schema:
          type: string
        style: form
      - description: A category ID or comma-delimited list of category ID.
        example: "148,151,66"
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      - description: |-
          A category ID or comma-delimited list of category ID.
          Filter the request by the categories that trigger a policy.
        example: "67,69"
        explode: true
        in: query
        name: policycategories
        required: false
        schema:
          type: string
        style: form
      - description: An IP address.
        example: 10.10.10.10
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      - description: A port number or comma-delimited list of port numbers.
        example: "7351,80"
        explode: true
        in: query
        name: ports
        required: false
        schema:
          type: string
        style: form
      - description: An identity ID or comma-delimited list of identity IDs.
        example: "1,2,3"
        explode: true
        in: query
        name: identityids
        required: false
        schema:
          type: string
        style: form
      - description: An identity type or comma-delimited list of identity types.
        example: "network,roaming"
        explode: true
        in: query
        name: identitytypes
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the application.
        example: "1"
        explode: true
        in: query
        name: applicationid
        required: false
        schema:
          type: string
        style: form
      - description: A string or comma-delimited string that describes whether the
          traffic can reach the destination.
        example: "allowed,blocked"
        explode: true
        in: query
        name: verdict
        required: false
        schema:
          type: string
        style: form
      - description: The firewall policy rule ID.
        example: 1
        explode: true
        in: query
        name: ruleid
        required: false
        schema:
          type: number
        style: form
      - description: |-
          A string that identifies a filename. Filter the request by the filename.
          Supports globbing or use of the wildcard character ('*'). The asterisk (*) matches
          zero or more occurrences of any character.
        example: myfilename_*
        explode: true
        in: query
        name: filename
        required: false
        schema:
          type: string
        style: form
      - description: Specify whether to filter on requests that override security.
        example: true
        explode: true
        in: query
        name: securityoverridden
        required: false
        schema:
          type: boolean
        style: form
      - description: A proxy bundle ID.
        example: 1
        explode: true
        in: query
        name: bundleid
        required: false
        schema:
          type: number
        style: form
      - description: A threat name or comma-delimited list of threat names.
        explode: true
        in: query
        name: threats
        required: false
        schema:
          type: string
        style: form
      - description: A threat type or comma-delimited list of threat types.
        explode: true
        in: query
        name: threattypes
        required: false
        schema:
          type: string
        style: form
      - description: An AMP disposition string or a comma-delimited list of AMP disposition
          strings.
        example: "clean,malicious,unknown"
        explode: true
        in: query
        name: ampdisposition
        required: false
        schema:
          type: string
        style: form
      - description: A threat name or comma-delimited list of threat names.
        example: Trojan.Linux.Generic.144075
        explode: true
        in: query
        name: antivirusthreats
        required: false
        schema:
          type: string
        style: form
      - description: "If set to `true`, filter data for requests that are part of\
          \ a tenant control policy."
        example: true
        explode: true
        in: query
        name: tenantcontrols
        required: false
        schema:
          type: boolean
        style: form
      - description: A string that describes the remote browser isolation (RBI) isolation
          type.
        example: isolated
        explode: true
        in: query
        name: isolatedstate
        required: false
        schema:
          enum:
          - isolated
          - not-isolated
          type: string
        style: form
      - description: A string that describes the remote browser isolation (RBI) file
          action type.
        example: downloaded-safe-pdf
        explode: true
        in: query
        name: isolatedFileAction
        required: false
        schema:
          enum:
          - viewed
          - downloaded-original-file
          - downloaded-safe-pdf
          type: string
        style: form
      - description: |-
          A string that describes the status of a destination.
          Filter for requests that are blocked by the DLP layer security.
        example: blocked
        explode: true
        in: query
        name: datalosspreventionstate
        required: false
        schema:
          enum:
          - blocked
          type: string
        style: form
      - description: Filter data for requests that resulted in a TLS error or a certificate
          error.
        example: certificateerror
        explode: true
        in: query
        name: httperrors
        required: false
        schema:
          enum:
          - certificateerror
          - tlserror
          type: string
        style: form
      - description: |-
          Display the timestamp of the traffic events in the specified timezone.
          For the timezone, provide a continent and city separated by an url-encoded forward slash ('/'), for example: timezone='ASIA%2fCALCUTTA'.
        example: ASIA%2fCALCUTTA
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - destinationip: ""
                  externalip: 32.4.91.7
                  responsesize: 3329530
                  allapplications:
                  - id: 1313
                    label: Netflix
                    category:
                      id: 47
                      label: Media
                  date: 2022-02-18
                  datalossprevention:
                    state: ""
                  antivirusthreats:
                    puas: []
                    viruses: []
                    others: []
                  internalip: 192.168.1.43
                  referer: ""
                  contenttype: ""
                  tenantcontrols: false
                  securityoverridden: false
                  useragent: ""
                  time: 84582
                  amp:
                    disposition: ""
                    score: 0
                    malware: ""
                  policycategories: []
                  type: proxy
                  requestsize: 1996
                  port: 443
                  policy:
                    ruleid: 0
                    rulesetid: 0
                    destinationlistids: []
                    timebasedrule: false
                  forwardingmethod: ""
                  categories:
                  - id: 17
                    type: content
                    label: Movies
                    integration: false
                    deprecated: true
                  isolated:
                    state: not-isolated
                    fileaction: ""
                  statuscode: 200
                  egress:
                    ip: 155.190.3.8
                    type: shared
                  blockedfiletype: ""
                  url: https://ipv4-lax2-ix.1.oca.anothervideo.net
                  verdict: allowed
                  responsefilename: ""
                  warnstatus: ""
                  sha256: ""
                  timestamp: 1645226982000
                  blockedapplications: []
                  allowedapplications: []
                  identities:
                  - id: 1
                    type:
                      id: 34
                      type: anyconnect
                      label: Anyconnect Roaming Client
                    label: Vincent's Macbook
                    deleted: false
                  datacenter:
                    label: "Los Angeles, US"
                    id: LAX
                  threats: []
                  httperrors: []
                  bundleid: 3
                meta: {}
              schema:
                $ref: '#/components/schemas/getActivityProxy_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_400_response'
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_401_response'
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_403_response'
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_404_response'
          description: Not Found
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_500_response'
          description: Internal Server Error
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
      security:
      - oauthFlow:
        - reports.aggregations:read
      summary: Get Activity Proxy
      tags:
      - Activity
  /reports/v2/activity/firewall:
    get:
      description: |-
        List all firewall activity within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityFirewall
      parameters:
      - description: |-
          A timestamp or relative time string (for example: '-1days').
          Filter for data that appears after this time.
        example: "1639146300000"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: |-
          A timestamp or relative time string (for example: 'now').
          Filter for data that appears before this time.
        example: "1640010300000"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: A number that represents an index in the collection.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: The maximum number of records to return from the collection.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          type: number
        style: form
      - description: An identity ID or comma-delimited list of identity IDs.
        example: "1,2,3"
        explode: true
        in: query
        name: identityids
        required: false
        schema:
          type: string
        style: form
      - description: The firewall policy rule ID.
        example: 1
        explode: true
        in: query
        name: ruleid
        required: false
        schema:
          type: number
        style: form
      - description: A string or comma-delimited string that describes whether the
          traffic can reach the destination.
        example: "allowed,blocked"
        explode: true
        in: query
        name: verdict
        required: false
        schema:
          type: string
        style: form
      - description: An IP address.
        example: 10.10.10.10
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      - description: A port number or comma-delimited list of port numbers.
        example: "7351,80"
        explode: true
        in: query
        name: ports
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Display the timestamp of the traffic events in the specified timezone.
          For the timezone, provide a continent and city separated by an url-encoded forward slash ('/'), for example: timezone='ASIA%2fCALCUTTA'.
        example: ASIA%2fCALCUTTA
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          type: string
        style: form
      - description: A category ID or comma-delimited list of category ID.
        example: "148,151,66"
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - date: "2019"
                  destinationip: 52.8.160.247
                  sourceip: 192.168.0.1
                  sourceport: 0
                  destinationport: 0
                  categories:
                  - id: 66
                    label: Malware
                    type: security
                    integration: true
                  verdict: allowed
                  time: 754
                  timestamp: 1731002169000
                  identities:
                  - id: 1
                    label: Catch Rate Testing System
                    type:
                      id: 21
                      label: Sites
                      type: site
                    deleted: false
                  protocol:
                    id: 17
                    label: UDP
                  rule:
                    id: 1
                    label: Default Rule
                  type: firewall
                  allapplications:
                  - id: 72
                    label: dns IT Service Management
                    app: ""
                  applicationprotocols:
                  - id: 72
                    label: dns IT Service Management
                    app: ""
                  packetsize: 32
                  direction: towards
                meta: {}
              schema:
                $ref: '#/components/schemas/getActivityFirewall_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_400_response'
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_401_response'
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_403_response'
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_404_response'
          description: Not Found
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_500_response'
          description: Internal Server Error
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
      security:
      - oauthFlow:
        - reports.aggregations:read
      summary: Get Activity Firewall
      tags:
      - Activity
  /reports/v2/activity/intrusion:
    get:
      description: |-
        List all Intrusion Prevention System (IPS) activity within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityIntrusion
      parameters:
      - description: |-
          A timestamp or relative time string (for example: '-1days').
          Filter for data that appears after this time.
        example: "1639146300000"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: |-
          A timestamp or relative time string (for example: 'now').
          Filter for data that appears before this time.
        example: "1640010300000"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: A number that represents an index in the collection.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: The maximum number of records to return from the collection.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          type: number
        style: form
      - description: An identity ID or comma-delimited list of identity IDs.
        example: "1,2,3"
        explode: true
        in: query
        name: identityids
        required: false
        schema:
          type: string
        style: form
      - description: The signature or comma-separated list of <signatureid>-<generatorid>
          signatures.
        example: "1-2,1-4"
        explode: true
        in: query
        name: signatures
        required: false
        schema:
          type: string
        style: form
      - description: The signature ID or comma-separated list of signature list IDs.
        example: "1,2"
        explode: true
        in: query
        name: signaturelistids
        required: false
        schema:
          type: string
        style: form
      - description: "An action or list of comma-separated intrusion actions. Valid\
          \ values are: `would_block`, `blocked`, and `detected`."
        example: "detected,would_block"
        explode: true
        in: query
        name: intrusionaction
        required: false
        schema:
          type: string
        style: form
      - description: An IP address.
        example: 10.10.10.10
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      - description: A port number or comma-delimited list of port numbers.
        example: "7351,80"
        explode: true
        in: query
        name: ports
        required: false
        schema:
          type: string
        style: form
      - description: Filter out domains that generate a lot of insignificant traffic
          (noise).
        example: true
        explode: true
        in: query
        name: filternoisydomains
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Display the timestamp of the traffic events in the specified timezone.
          For the timezone, provide a continent and city separated by an url-encoded forward slash ('/'), for example: timezone='ASIA%2fCALCUTTA'.
        example: ASIA%2fCALCUTTA
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: intrusion
                  date: 12-02-22
                  destinationip: 10.10.10.10
                  protocol:
                    id: 17
                    label: UDP
                  sourceip: 10.10.10.10
                  signaturelist:
                    id: 1111
                  classification: malicious
                  rule:
                  - id: 391327
                    label: UNKNOWN
                  ipsProfile: PROFILE
                  sourceport: 22
                  sessionid: 190898098
                  verdict: detected
                  destinationport: 33
                  timestamp: 1594557262000
                  time: 09:30
                  identities:
                  - id: 211034846
                    type:
                      id: 34
                      type: anyconnect
                      label: Anyconnect Roaming Client
                    label: omerta
                    deleted: false
                  severity: HIGH
                  signature:
                    generatorid: 1
                    id: 47829
                    label: SERVER-OTHER JBoss Richfaces expression language injection
                      attempt
                    cves:
                    - cve-2015-0279
                    - cve-2018-12532
                meta: {}
              schema:
                $ref: '#/components/schemas/getActivityIntrusion_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_400_response'
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_401_response'
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_403_response'
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_404_response'
          description: Not Found
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_500_response'
          description: Internal Server Error
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
      security:
      - oauthFlow:
        - reports.aggregations:read
      summary: Get Activity Intrusion
      tags:
      - Activity
  /reports/v2/activity/ip:
    get:
      description: |-
        (Deprecated) List all IP activity within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityIP
      parameters:
      - description: |-
          A timestamp or relative time string (for example: '-1days').
          Filter for data that appears after this time.
        example: "1639146300000"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: |-
          A timestamp or relative time string (for example: 'now').
          Filter for data that appears before this time.
        example: "1640010300000"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: A number that represents an index in the collection.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: The maximum number of records to return from the collection.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          type: number
        style: form
      - description: An identity ID or comma-delimited list of identity IDs.
        example: "1,2,3"
        explode: true
        in: query
        name: identityids
        required: false
        schema:
          type: string
        style: form
      - description: An identity type or comma-delimited list of identity types.
        example: "network,roaming"
        explode: true
        in: query
        name: identitytypes
        required: false
        schema:
          type: string
        style: form
      - description: A category ID or comma-delimited list of category ID.
        example: "148,151,66"
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      - description: A string or comma-delimited string that describes whether the
          traffic can reach the destination.
        example: "allowed,blocked"
        explode: true
        in: query
        name: verdict
        required: false
        schema:
          type: string
        style: form
      - description: An IP address.
        example: 10.10.10.10
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      - description: A port number or comma-delimited list of port numbers.
        example: "7351,80"
        explode: true
        in: query
        name: ports
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data: []
                meta: {}
              schema:
                $ref: '#/components/schemas/getActivityIP_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_400_response'
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_401_response'
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_403_response'
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_404_response'
          description: Not Found
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_500_response'
          description: Internal Server Error
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
      security:
      - oauthFlow:
        - reports.aggregations:read
      summary: Get Activity IP
      tags:
      - Activity
  /reports/v2/activity/amp-retrospective:
    get:
      description: |-
        List all AMP retrospective activity within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityAmpRetrospective
      parameters:
      - description: |-
          A timestamp or relative time string (for example: '-1days').
          Filter for data that appears after this time.
        example: "1639146300000"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: |-
          A timestamp or relative time string (for example: 'now').
          Filter for data that appears before this time.
        example: "1640010300000"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: A number that represents an index in the collection.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: The maximum number of records to return from the collection.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          type: number
        style: form
      - description: An AMP disposition string or a comma-delimited list of AMP disposition
          strings.
        example: "clean,malicious,unknown"
        explode: true
        in: query
        name: ampdisposition
        required: false
        schema:
          type: string
        style: form
      - description: A SHA-256 hash.
        example: ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad
        explode: true
        in: query
        name: sha256
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Display the timestamp of the traffic events in the specified timezone.
          For the timezone, provide a continent and city separated by an url-encoded forward slash ('/'), for example: timezone='ASIA%2fCALCUTTA'.
        example: ASIA%2fCALCUTTA
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - timestamp: 1548311506
                  firstseenat: 1548311506
                  disposition: clean
                  score: 10
                  hostname: google.com
                  malwarename: malware
                  sha256: 9495b6c155044053953efe30ebaf804780c114e7b721b14f6a5b0a782769696e
                meta: {}
              schema:
                $ref: '#/components/schemas/getActivityAmpRetrospective_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_400_response'
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_401_response'
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_403_response'
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_404_response'
          description: Not Found
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_500_response'
          description: Internal Server Error
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
      security:
      - oauthFlow:
        - reports.aggregations:read
      summary: Get Activity AMP Retrospective
      tags:
      - Activity
  /reports/v2/activity/ztna:
    get:
      description: |-
        List all Zero Trust Network Access (ZTNA) entries within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityZTNA
      parameters:
      - description: |-
          A timestamp or relative time string (for example: '-1days').
          Filter for data that appears after this time.
        example: "1639146300000"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: |-
          A timestamp or relative time string (for example: 'now').
          Filter for data that appears before this time.
        example: "1640010300000"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: A number that represents an index in the collection.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: The maximum number of records to return from the collection.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          type: number
        style: form
      - description: Specify the Zero Trust Network Access (ZTNA) session type.
        example: clientless
        explode: true
        in: query
        name: ztnatype
        required: false
        schema:
          enum:
          - clientless
          - clientbased
          type: string
        style: form
      - description: |-
          Display the timestamp of the traffic events in the specified timezone.
          For the timezone, provide a continent and city separated by an url-encoded forward slash ('/'), for example: timezone='ASIA%2fCALCUTTA'.
        example: ASIA%2fCALCUTTA
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - allapplications:
                  - id: 1
                    label: label
                    type: NBAR
                    category:
                      id: 1
                      label: category
                  date: 2020-07-12
                  destinationip: 2.3.4.5
                  clientfirewall: NONE
                  time: 45265
                  type: ztna
                  diskencryption: THIRDPARTY
                  antimalwareagents:
                  - Malware Agent 1
                  - Malware Agent 2
                  policy:
                    ruleset:
                      id: 4567
                      label: DEFAULT
                      rule:
                        id: 431556
                        label: UNKNOWN
                    privateapplicationgroup:
                      id: 7
                      label: DEFAULT
                  systempassword: 7994471ABB01112AFCP
                  verdict: blocked
                  device:
                    ip: 1.1.1.1
                    os: MACOS
                    browser: Firefox
                    location: Vancouver
                  timestamp: 1594557265000
                  identities:
                  - id: 36661999
                    type:
                      id: 48
                      type: saml_user
                      label: Users
                    label: BAP user
                    deleted: false
                meta: {}
              schema:
                $ref: '#/components/schemas/getActivityZTNA_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_400_response'
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_401_response'
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_403_response'
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_404_response'
          description: Not Found
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_500_response'
          description: Internal Server Error
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
      security:
      - oauthFlow:
        - reports.aggregations:read
      summary: Activity ZTNA
      tags:
      - Activity
  /reports/v2/activity/decryption:
    get:
      description: |-
        List all decryption entries within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityDecryption
      parameters:
      - description: |-
          A timestamp or relative time string (for example: '-1days').
          Filter for data that appears after this time.
        example: "1639146300000"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: |-
          A timestamp or relative time string (for example: 'now').
          Filter for data that appears before this time.
        example: "1640010300000"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: A number that represents an index in the collection.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: The maximum number of records to return from the collection.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          type: number
        style: form
      - description: "The list of comma-separated decryption actions. Valid values\
          \ are: `decryptinbound`, `decryptoutbound`, `donotdecrypt`, and `decrypterror`."
        example: "decryptinbound,donodecrypt"
        explode: true
        in: query
        name: decryptaction
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Display the timestamp of the traffic events in the specified timezone.
          For the timezone, provide a continent and city separated by an url-encoded forward slash ('/'), for example: timezone='ASIA%2fCALCUTTA'.
        example: ASIA%2fCALCUTTA
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - totalServerBytes: 256
                  destinationip: 208.67.222.222
                  decryptAction: Decrypt Outbound
                  date: 2020-07-12
                  endtimestamp: 1594557262000
                  cipherSuite: TLS_AES_256_SHA_384
                  protocol: TCP/TLS
                  sourceip: 192.168.30.2
                  totalClientBytes: 128
                  time: 45262
                  type: decryption
                  protocolVersion: TLS 1.2
                  endtime: 45262
                  enddate: 2020-07-12
                  decryptActionReason: DND Pinned Cert
                  decryptError: Received fatal alert CertificateUnknown
                  sourceport: 39200
                  destinationport: 53
                  timestamp: 1594557262000
                  identities:
                  - id: 36661999
                    type:
                      id: 48
                      type: saml_user
                      label: Users
                    label: BAP user
                    deleted: false
                meta: {}
              schema:
                $ref: '#/components/schemas/getActivityDecryption_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_400_response'
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_401_response'
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_403_response'
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_404_response'
          description: Not Found
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_500_response'
          description: Internal Server Error
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
      security:
      - oauthFlow:
        - reports.aggregations:read
      summary: Activity Decryption
      tags:
      - Activity
  /reports/v2/top-identities:
    get:
      description: |-
        List the identities by the number of requests made, sorted in descending order.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getTopIdentities
      parameters:
      - description: |-
          A timestamp or relative time string (for example: '-1days').
          Filter for data that appears after this time.
        example: "1639146300000"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: |-
          A timestamp or relative time string (for example: 'now').
          Filter for data that appears before this time.
        example: "1640010300000"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of records to return from the collection.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          type: number
        style: form
      - description: A number that represents an index in the collection.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: A domain name or comma-delimited list of domain name.
        example: "cisco.com,nasa.gov"
        explode: true
        in: query
        name: domains
        required: false
        schema:
          type: string
        style: form
      - description: A URL or comma-delimited list of URL.
        example: "https://google.com,facebook.com/help"
        explode: true
        in: query
        name: urls
        required: false
        schema:
          type: string
        style: form
      - description: A category ID or comma-delimited list of category ID.
        example: "148,151,66"
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      - description: |-
          A category ID or comma-delimited list of category ID.
          Filter the request by the categories that trigger a policy.
        example: "67,69"
        explode: true
        in: query
        name: policycategories
        required: false
        schema:
          type: string
        style: form
      - description: An IP address.
        example: 10.10.10.10
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      - description: A port number or comma-delimited list of port numbers.
        example: "7351,80"
        explode: true
        in: query
        name: ports
        required: false
        schema:
          type: string
        style: form
      - description: An identity ID or comma-delimited list of identity IDs.
        example: "1,2,3"
        explode: true
        in: query
        name: identityids
        required: false
        schema:
          type: string
        style: form
      - description: An identity type or comma-delimited list of identity types.
        example: "network,roaming"
        explode: true
        in: query
        name: identitytypes
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the application.
        example: "1"
        explode: true
        in: query
        name: applicationid
        required: false
        schema:
          type: string
        style: form
      - description: A string or comma-delimited string that describes whether the
          traffic can reach the destination.
        example: "allowed,blocked"
        explode: true
        in: query
        name: verdict
        required: false
        schema:
          type: string
        style: form
      - description: A SHA-256 hash.
        example: ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad
        explode: true
        in: query
        name: sha256
        required: false
        schema:
          type: string
        style: form
      - description: Specify whether to filter on requests that override security.
        example: true
        explode: true
        in: query
        name: securityoverridden
        required: false
        schema:
          type: boolean
        style: form
      - description: A proxy bundle ID.
        example: 1
        explode: true
        in: query
        name: bundleid
        required: false
        schema:
          type: number
        style: form
      - description: A threat name or comma-delimited list of threat names.
        explode: true
        in: query
        name: threats
        required: false
        schema:
          type: string
        style: form
      - description: A threat type or comma-delimited list of threat types.
        explode: true
        in: query
        name: threattypes
        required: false
        schema:
          type: string
        style: form
      - description: An AMP disposition string or a comma-delimited list of AMP disposition
          strings.
        example: "clean,malicious,unknown"
        explode: true
        in: query
        name: ampdisposition
        required: false
        schema:
          type: string
        style: form
      - description: A threat name or comma-delimited list of threat names.
        example: Trojan.Linux.Generic.144075
        explode: true
        in: query
        name: antivirusthreats
        required: false
        schema:
          type: string
        style: form
      - description: |-
          A string that describes the status of a destination.
          Filter for requests that are blocked by the DLP layer security.
        example: blocked
        explode: true
        in: query
        name: datalosspreventionstate
        required: false
        schema:
          enum:
          - blocked
          type: string
        style: form
      - description: Filter out domains that generate a lot of insignificant traffic
          (noise).
        example: true
        explode: true
        in: query
        name: filternoisydomains
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Display the timestamp of the traffic events in the specified timezone.
          For the timezone, provide a continent and city separated by an url-encoded forward slash ('/'), for example: timezone='ASIA%2fCALCUTTA'.
        example: ASIA%2fCALCUTTA
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - requests: 3827
                  bandwidth: 7051943359
                  identity:
                    id: 1
                    label: Catch Rate Testing System
                    type:
                      id: 21
                      label: Sites
                      type: site
                    deleted: false
                  counts:
                    requests: 123
                    allowedrequests: 60
                    blockedrequests: 63
                  rank: 3
                meta: {}
              schema:
                $ref: '#/components/schemas/getTopIdentities_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_400_response'
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_401_response'
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_403_response'
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_404_response'
          description: Not Found
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_500_response'
          description: Internal Server Error
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
      security:
      - oauthFlow:
        - reports.aggregations:read
      summary: Get Top Identities (All)
      tags:
      - Top Identities
  /reports/v2/top-identities/{type}:
    get:
      description: |-
        List the identities for the specific traffic type by the number of requests.
        Sort the results in descending order.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getTopIdentitiesType
      parameters:
      - description: Specify the type of traffic.
        example: firewall
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - dns
          - proxy
          - firewall
          - ip
          - ztna
          - remote-access
          type: string
        style: simple
      - description: |-
          A timestamp or relative time string (for example: '-1days').
          Filter for data that appears after this time.
        example: "1639146300000"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: |-
          A timestamp or relative time string (for example: 'now').
          Filter for data that appears before this time.
        example: "1640010300000"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of records to return from the collection.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          type: number
        style: form
      - description: A number that represents an index in the collection.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: A domain name or comma-delimited list of domain name.
        example: "cisco.com,nasa.gov"
        explode: true
        in: query
        name: domains
        required: false
        schema:
          type: string
        style: form
      - description: A URL or comma-delimited list of URL.
        example: "https://google.com,facebook.com/help"
        explode: true
        in: query
        name: urls
        required: false
        schema:
          type: string
        style: form
      - description: A category ID or comma-delimited list of category ID.
        example: "148,151,66"
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      - description: |-
          A category ID or comma-delimited list of category ID.
          Filter the request by the categories that trigger a policy.
        example: "67,69"
        explode: true
        in: query
        name: policycategories
        required: false
        schema:
          type: string
        style: form
      - description: An IP address.
        example: 10.10.10.10
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      - description: A port number or comma-delimited list of port numbers.
        example: "7351,80"
        explode: true
        in: query
        name: ports
        required: false
        schema:
          type: string
        style: form
      - description: An identity ID or comma-delimited list of identity IDs.
        example: "1,2,3"
        explode: true
        in: query
        name: identityids
        required: false
        schema:
          type: string
        style: form
      - description: An identity type or comma-delimited list of identity types.
        example: "network,roaming"
        explode: true
        in: query
        name: identitytypes
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the application.
        example: "1"
        explode: true
        in: query
        name: applicationid
        required: false
        schema:
          type: string
        style: form
      - description: A string or comma-delimited string that describes whether the
          traffic can reach the destination.
        example: "allowed,blocked"
        explode: true
        in: query
        name: verdict
        required: false
        schema:
          type: string
        style: form
      - description: A SHA-256 hash.
        example: ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad
        explode: true
        in: query
        name: sha256
        required: false
        schema:
          type: string
        style: form
      - description: Specify whether to filter on requests that override security.
        example: true
        explode: true
        in: query
        name: securityoverridden
        required: false
        schema:
          type: boolean
        style: form
      - description: A proxy bundle ID.
        example: 1
        explode: true
        in: query
        name: bundleid
        required: false
        schema:
          type: number
        style: form
      - description: A threat name or comma-delimited list of threat names.
        explode: true
        in: query
        name: threats
        required: false
        schema:
          type: string
        style: form
      - description: A threat type or comma-delimited list of threat types.
        explode: true
        in: query
        name: threattypes
        required: false
        schema:
          type: string
        style: form
      - description: An AMP disposition string or a comma-delimited list of AMP disposition
          strings.
        example: "clean,malicious,unknown"
        explode: true
        in: query
        name: ampdisposition
        required: false
        schema:
          type: string
        style: form
      - description: A threat name or comma-delimited list of threat names.
        example: Trojan.Linux.Generic.144075
        explode: true
        in: query
        name: antivirusthreats
        required: false
        schema:
          type: string
        style: form
      - description: |-
          A string that describes the status of a destination.
          Filter for requests that are blocked by the DLP layer security.
        example: blocked
        explode: true
        in: query
        name: datalosspreventionstate
        required: false
        schema:
          enum:
          - blocked
          type: string
        style: form
      - description: Filter out domains that generate a lot of insignificant traffic
          (noise).
        example: true
        explode: true
        in: query
        name: filternoisydomains
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Display the timestamp of the traffic events in the specified timezone.
          For the timezone, provide a continent and city separated by an url-encoded forward slash ('/'), for example: timezone='ASIA%2fCALCUTTA'.
        example: ASIA%2fCALCUTTA
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - requests: 3827
                  bandwidth: 7051943359
                  identity:
                    id: 1
                    label: Catch Rate Testing System
                    type:
                      id: 21
                      label: Sites
                      type: site
                    deleted: false
                  counts:
                    requests: 123
                    allowedrequests: 60
                    blockedrequests: 63
                    connectedevents: 0
                    disconnectedevents: 0
                  rank: 3
                meta: {}
              schema:
                $ref: '#/components/schemas/getTopIdentities_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_400_response'
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_401_response'
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_403_response'
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_404_response'
          description: Not Found
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_500_response'
          description: Internal Server Error
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
      security:
      - oauthFlow:
        - reports.aggregations:read
      summary: Get Top Identities
      tags:
      - Top Identities
  /reports/v2/identity-distribution:
    get:
      description: |-
        List the number of requests by identity types.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getIdentityDistribution
      parameters:
      - description: |-
          A timestamp or relative time string (for example: '-1days').
          Filter for data that appears after this time.
        example: "1639146300000"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: |-
          A timestamp or relative time string (for example: 'now').
          Filter for data that appears before this time.
        example: "1640010300000"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of records to return from the collection.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          type: number
        style: form
      - description: A number that represents an index in the collection.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: A domain name or comma-delimited list of domain name.
        example: "cisco.com,nasa.gov"
        explode: true
        in: query
        name: domains
        required: false
        schema:
          type: string
        style: form
      - description: A URL or comma-delimited list of URL.
        example: "https://google.com,facebook.com/help"
        explode: true
        in: query
        name: urls
        required: false
        schema:
          type: string
        style: form
      - description: A category ID or comma-delimited list of category ID.
        example: "148,151,66"
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      - description: |-
          A category ID or comma-delimited list of category ID.
          Filter the request by the categories that trigger a policy.
        example: "67,69"
        explode: true
        in: query
        name: policycategories
        required: false
        schema:
          type: string
        style: form
      - description: An IP address.
        example: 10.10.10.10
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      - description: A port number or comma-delimited list of port numbers.
        example: "7351,80"
        explode: true
        in: query
        name: ports
        required: false
        schema:
          type: string
        style: form
      - description: An identity ID or comma-delimited list of identity IDs.
        example: "1,2,3"
        explode: true
        in: query
        name: identityids
        required: false
        schema:
          type: string
        style: form
      - description: An identity type or comma-delimited list of identity types.
        example: "network,roaming"
        explode: true
        in: query
        name: identitytypes
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the application.
        example: "1"
        explode: true
        in: query
        name: applicationid
        required: false
        schema:
          type: string
        style: form
      - description: A string or comma-delimited string that describes whether the
          traffic can reach the destination.
        example: "allowed,blocked"
        explode: true
        in: query
        name: verdict
        required: false
        schema:
          type: string
        style: form
      - description: A SHA-256 hash.
        example: ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad
        explode: true
        in: query
        name: sha256
        required: false
        schema:
          type: string
        style: form
      - description: Specify whether to filter on requests that override security.
        example: true
        explode: true
        in: query
        name: securityoverridden
        required: false
        schema:
          type: boolean
        style: form
      - description: A proxy bundle ID.
        example: 1
        explode: true
        in: query
        name: bundleid
        required: false
        schema:
          type: number
        style: form
      - description: A threat name or comma-delimited list of threat names.
        explode: true
        in: query
        name: threats
        required: false
        schema:
          type: string
        style: form
      - description: A threat type or comma-delimited list of threat types.
        explode: true
        in: query
        name: threattypes
        required: false
        schema:
          type: string
        style: form
      - description: An AMP disposition string or a comma-delimited list of AMP disposition
          strings.
        example: "clean,malicious,unknown"
        explode: true
        in: query
        name: ampdisposition
        required: false
        schema:
          type: string
        style: form
      - description: A threat name or comma-delimited list of threat names.
        example: Trojan.Linux.Generic.144075
        explode: true
        in: query
        name: antivirusthreats
        required: false
        schema:
          type: string
        style: form
      - description: |-
          A string that describes the status of a destination.
          Filter for requests that are blocked by the DLP layer security.
        example: blocked
        explode: true
        in: query
        name: datalosspreventionstate
        required: false
        schema:
          enum:
          - blocked
          type: string
        style: form
      - description: Filter out domains that generate a lot of insignificant traffic
          (noise).
        example: true
        explode: true
        in: query
        name: filternoisydomains
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Display the timestamp of the traffic events in the specified timezone.
          For the timezone, provide a continent and city separated by an url-encoded forward slash ('/'), for example: timezone='ASIA%2fCALCUTTA'.
        example: ASIA%2fCALCUTTA
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - counts:
                    requests: 123
                    allowedrequests: 60
                    blockedrequests: 63
                  requests: 312
                  unique_identity_count: 12
                  identitytype:
                    id: 21
                    label: Sites
                    type: site
                meta: {}
              schema:
                $ref: '#/components/schemas/getIdentityDistribution_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_400_response'
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_401_response'
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_403_response'
          description: Forbidden
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivities_404_response'
          description: Not Found
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
[...]
