openapi: 3.0.1
info:
  title: Cisco Secure Access Reports
  description: |-
    Reporting
    App Discovery
    API Usage
    Metering
  version: 1.0.0
  contact:
    name: Cloud Security Developer Community
servers:
  - url: https://api.sse.cisco.com
security:
  - oauthFlow: []
tags:
  - name: Identities
paths:
  /reports/v2/activity:
    get:
      tags:
        - Activity

      summary: Get Activities (all)
      description: |-
        List all activities (dns/proxy/firewall/ip/intrusion/ztna/decryption) within the timeframe.
        **Note:** The IP activity report is not available.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivities
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/ruleIdParam'
        - $ref: '#/components/parameters/filenameParam'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/xTrafficTypeParam'
        - $ref: '#/components/parameters/isolatedStateParam'
        - $ref: '#/components/parameters/isolatedFileActionParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/httpErrorsParam'
        - $ref: '#/components/parameters/existsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/ActivityDns'
                        - $ref: '#/components/schemas/ActivityFirewall'
                        - $ref: '#/components/schemas/ActivityIntrusion'
                        - $ref: '#/components/schemas/ActivityProxy'
                        - $ref: '#/components/schemas/ActivityZTNA'
                        - $ref: '#/components/schemas/ActivityDecryption'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                meta: {}
                data:
                  - externalip: 52.8.160.247
                    internalip: 52.8.160.247
                    policycategories:
                      - id: 66
                        label: Malware
                        type: security
                        integration: true
                    categories:
                      - id: 66
                        label: Malware
                        type: security
                        integration: true
                    verdict: allowed
                    domain: google.com
                    timestamp: 1731002169000
                    time: 06:31:46
                    date: "2019-01-24"
                    identities:
                      - id: 1
                        label: Catch Rate Testing System
                        type:
                          id: 21
                          label: Sites
                          type: site
                        deleted: true
                    threats:
                      - label: Wannacry
                        type: Ransomware
                    allapplications:
                      - id: 1
                        label: label
                        type: NBAR
                        category:
                          id: 1
                          label: category
                    allowedapplications:
                      - id: 1
                        label: label
                        type: NBAR
                        category:
                          id: 1
                          label: category
                    querytype: MX
                    returncode: 2
                    blockedapplications: []
                    type: dns
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/activity/dns:
    get:
      tags:
        - Activity

      summary: Get Activity DNS
      description: |-
        List all DNS entries within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityDns
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/orderParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityDns'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - externalip: 52.8.160.247
                    internalip: 52.8.160.247
                    policycategories:
                      - id: 66
                        label: Malware
                        type: security
                        integration: true
                    categories:
                      - id: 66
                        label: Malware
                        type: security
                        integration: true
                    verdict: allowed
                    domain: google.com
                    timestamp: 1731002169000
                    time: 06:31:46
                    date: "2019-01-24"
                    identities:
                      - id: 1
                        label: Catch Rate Testing System
                        type:
                          id: 21
                          label: Sites
                          type: site
                        deleted: true
                    threats:
                      - label: Wannacry
                        type: Ransomware
                    allapplications:
                      - id: 1
                        label: label
                        type: NBAR
                        category:
                          id: 1
                          label: category
                    allowedapplications:
                      - id: 1
                        label: label
                        type: NBAR
                        category:
                          id: 1
                          label: category
                    querytype: MX
                    returncode: 2
                    blockedapplications: []
                    type: dns
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/activity/proxy:
    get:
      tags:
        - Activity

      summary: Get Activity Proxy
      description: |-
        List all proxy entries within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityProxy
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/orderParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/ruleIdParam'
        - $ref: '#/components/parameters/filenameParam'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/tenantControlsParam'
        - $ref: '#/components/parameters/isolatedStateParam'
        - $ref: '#/components/parameters/isolatedFileActionParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/httpErrorsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityProxy'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - destinationip: ""
                    externalip: 32.4.91.7
                    responsesize: 3329530
                    allapplications:
                      - id: 1313
                        label: Netflix
                        category:
                          id: 47
                          label: Media
                    date: "2022-02-18"
                    datalossprevention:
                      state: ""
                    antivirusthreats:
                      puas: []
                      viruses: []
                      others: []
                    internalip: 192.168.1.43
                    referer: ""
                    contenttype: ""
                    tenantcontrols: false
                    securityoverridden: false
                    useragent: ""
                    time: 23:29:42
                    amp:
                      disposition: ""
                      score: 0
                      malware: ""
                    policycategories: []
                    type: proxy
                    requestsize: 1996
                    port: 443
                    policy:
                      ruleid: 0
                      rulesetid: 0
                      destinationlistids: []
                      timebasedrule: false
                    forwardingmethod: ""
                    categories:
                      - id: 17
                        type: content
                        label: Movies
                        integration: false
                        deprecated: true
                    isolated:
                      state: not-isolated
                      fileaction: ""
                    statuscode: 200
                    egress:
                      ip: 155.190.3.8
                      type: shared
                    blockedfiletype: ""
                    url: https://ipv4-lax2-ix.1.oca.anothervideo.net
                    verdict: allowed
                    responsefilename: ""
                    warnstatus: ""
                    sha256: ""
                    timestamp: 1645226982000
                    blockedapplications: []
                    allowedapplications: []
                    identities:
                      - id: 1
                        type:
                          id: 34
                          type: anyconnect
                          label: Anyconnect Roaming Client
                        label: Vincent's Macbook
                        deleted: false
                    datacenter:
                      label: Los Angeles, US
                      id: LAX
                    threats: []
                    httperrors: []
                    bundleid: 3
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/activity/firewall:
    get:
      tags:
        - Activity

      summary: Get Activity Firewall
      description: |-
        List all firewall activity within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityFirewall
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/ruleIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/timezoneParam'
        - $ref: '#/components/parameters/categoriesParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityFirewall'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - date: "2019"
                    destinationip: 52.8.160.247
                    sourceip: 192.168.0.1
                    sourceport: 0
                    destinationport: 0
                    categories:
                      - id: 66
                        label: Malware
                        type: security
                        integration: true
                    verdict: allowed
                    time: 12:34
                    timestamp: 1731002169000
                    identities:
                      - id: 1
                        label: Catch Rate Testing System
                        type:
                          id: 21
                          label: Sites
                          type: site
                        deleted: false
                    protocol:
                      id: 17
                      label: UDP
                    rule:
                      id: 1
                      label: Default Rule
                    type: firewall
                    allapplications:
                      - id: 72
                        label: dns IT Service Management
                        app: ""
                    applicationprotocols:
                      - id: 72
                        label: dns IT Service Management
                        app: ""
                    packetsize: 32
                    direction: towards
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/activity/intrusion:
    get:
      tags:
        - Activity

      summary: Get Activity Intrusion
      description: |-
        List all Intrusion Prevention System (IPS) activity within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityIntrusion
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/signaturesParam'
        - $ref: '#/components/parameters/signatureListIdsParam'
        - $ref: '#/components/parameters/intrusionActionParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityIntrusion'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - type: intrusion
                    date: 12-02-22
                    destinationip: 10.10.10.10
                    protocol:
                      id: 17
                      label: UDP
                    sourceip: 10.10.10.10
                    signaturelist:
                      id: 1111
                    classification: malicious
                    rule:
                      - id: 391327
                        label: UNKNOWN
                    ipsProfile: PROFILE
                    sourceport: 22
                    sessionid: 190898098
                    verdict: detected
                    destinationport: 33
                    timestamp: 1594557262000
                    time: 09:30
                    identities:
                      - id: 211034846
                        type:
                          id: 34
                          type: anyconnect
                          label: Anyconnect Roaming Client
                        label: omerta
                        deleted: false
                    severity: HIGH
                    signature:
                      generatorid: 1
                      id: 47829
                      label: SERVER-OTHER JBoss Richfaces expression language injection attempt
                      cves:
                        - cve-2015-0279
                        - cve-2018-12532
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/activity/ip:
    get:
      tags:
        - Activity

      summary: Get Activity IP
      description: |-
        (Deprecated) List all IP activity within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityIP
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: {}
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data: []
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/activity/amp-retrospective:
    get:
      tags:
        - Activity

      summary: Get Activity AMP Retrospective
      description: |-
        List all AMP retrospective activity within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityAmpRetrospective
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityAMPRetro'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - timestamp: 1548311506
                    firstseenat: 1548311506
                    disposition: clean
                    score: 10
                    hostname: google.com
                    malwarename: malware
                    sha256: 9495b6c155044053953efe30ebaf804780c114e7b721b14f6a5b0a782769696e
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/activity/ztna:
    get:
      tags:
        - Activity

      summary: Activity ZTNA
      description: |-
        List all Zero Trust Network Access (ZTNA) entries within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityZTNA
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/ztnaTypeParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityZTNA'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - allapplications:
                      - id: 1
                        label: label
                        type: NBAR
                        category:
                          id: 1
                          label: category
                    date: "2020-07-12"
                    destinationip: 2.3.4.5
                    clientfirewall: NONE
                    time: 12:34:25
                    type: ztna
                    diskencryption: THIRDPARTY
                    antimalwareagents:
                      - Malware Agent 1
                      - Malware Agent 2
                    policy:
                      ruleset:
                        id: 4567
                        label: DEFAULT
                        rule:
                          id: 431556
                          label: UNKNOWN
                      privateapplicationgroup:
                        id: 7
                        label: DEFAULT
                    systempassword: 7994471ABB01112AFCP
                    verdict: blocked
                    device:
                      ip: 1.1.1.1
                      os: MACOS
                      browser: Firefox
                      location: Vancouver
                    timestamp: 1594557265000
                    identities:
                      - id: 36661999
                        type:
                          id: 48
                          type: saml_user
                          label: Users
                        label: BAP user
                        deleted: false
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/activity/decryption:
    get:
      tags:
        - Activity

      summary: Activity Decryption
      description: |-
        List all decryption entries within the timeframe.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getActivityDecryption
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/decryptActionParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityDecryption'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - totalServerBytes: 256
                    destinationip: 208.67.222.222
                    decryptAction: Decrypt Outbound
                    date: "2020-07-12"
                    endtimestamp: 1594557262000
                    cipherSuite: TLS_AES_256_SHA_384
                    protocol: TCP/TLS
                    sourceip: 192.168.30.2
                    totalClientBytes: 128
                    time: 12:34:22
                    type: decryption
                    protocolVersion: TLS 1.2
                    endtime: 12:34:22
                    enddate: "2020-07-12"
                    decryptActionReason: DND Pinned Cert
                    decryptError: Received fatal alert CertificateUnknown
                    sourceport: 39200
                    destinationport: 53
                    timestamp: 1594557262000
                    identities:
                      - id: 36661999
                        type:
                          id: 48
                          type: saml_user
                          label: Users
                        label: BAP user
                        deleted: false
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/top-identities:
    get:
      tags:
        - Top Identities

      summary: Get Top Identities (All)
      description: |-
        List the identities by the number of requests made, sorted in descending order.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getTopIdentities
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopIdentity'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - requests: 3827
                    bandwidth: 7051943359
                    identity:
                      id: 1
                      label: Catch Rate Testing System
                      type:
                        id: 21
                        label: Sites
                        type: site
                      deleted: false
                    counts:
                      requests: 123
                      allowedrequests: 60
                      blockedrequests: 63
                    rank: 3
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/top-identities/{type}:
    get:
      tags:
        - Top Identities

      summary: Get Top Identities
      description: |-
        List the identities for the specific traffic type by the number of requests.
        Sort the results in descending order.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getTopIdentitiesType
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/typeDnsWebIpFirewallZtnaRemoteAccessParam'
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopIdentity'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - requests: 3827
                    bandwidth: 7051943359
                    identity:
                      id: 1
                      label: Catch Rate Testing System
                      type:
                        id: 21
                        label: Sites
                        type: site
                      deleted: false
                    counts:
                      requests: 123
                      allowedrequests: 60
                      blockedrequests: 63
                      connectedevents: 0
                      disconnectedevents: 0
                    rank: 3
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/identity-distribution:
    get:
      tags:
        - Identity Distribution

      summary: Get Identity Distribution (All)
      description: |-
        List the number of requests by identity types.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getIdentityDistribution
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IdentityDistribution'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - counts:
                      requests: 123
                      allowedrequests: 60
                      blockedrequests: 63
                    requests: 312
                    unique_identity_count: 12
                    identitytype:
                      id: 21
                      label: Sites
                      type: site
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/identity-distribution/{type}:
    get:
      tags:
        - Identity Distribution

      summary: Get Identity Distribution By Type
      description: |-
        List the number of requests by identity for the type of traffic.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getIdentityDistributionType
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/typeDnsWebParam'
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: The list of identity distributions.
                    items:
                      $ref: '#/components/schemas/IdentityDistribution'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - counts:
                      requests: 123
                      allowedrequests: 60
                      blockedrequests: 63
                    requests: 312
                    unique_identity_count: 12
                    identitytype:
                      id: 21
                      label: Sites
                      type: site
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/top-resources:
    get:
      tags:
        - Top Resources

      summary: Top Resources (all)
      description: |-
        List all resources in descending order. Order the collection by the number of requests to get the resources.

        **Access Scope:** Reports > Private Resources > Read-Only
      operationId: getTopResources
      security:
        - oauthFlow:
            - reports.privateResources:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetRequiredParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopResource'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - application:
                      id: 25
                      label: Lab App
                      category: Private Application
                    count: 2
                    rank: 3
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/top-resources/{type}:
    get:
      tags:
        - Top Resources

      summary: Top Resources by Type
      description: |-
        List the resources for the type of activity in descending order.
        Order the collection by the number of requests to get the resources.

        **Access Scope:** Reports > Private Resources > Read-Only
      operationId: getTopResourcesType
      security:
        - oauthFlow:
            - reports.privateResources:read
      parameters:
        - $ref: '#/components/parameters/typeFirewallZtnaParam'
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetRequiredParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopResource'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - application:
                      id: 25
                      label: Lab App
                      category: Private Application
                    count: 2
                    rank: 3
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/top-destinations:
    get:
      tags:
        - Top Destinations

      summary: Get Top Destinations
      description: |-
        List the destinations by the number of requests made to this destination.
        Return the results in descending order.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getTopDestinations
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopDestination'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - bandwidth: 223437
                    rank: 4
                    domain: google.com
                    count: 3827
                    counts:
                      requests: 123
                      allowedrequests: 60
                      blockedrequests: 63
                    categories:
                      - id: 66
                        label: Malware
                        type: security
                        integration: true
                    policycategories:
                      - id: 66
                        label: Malware
                        type: security
                        integration: true
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/top-destinations/{type}:
    get:
      tags:
        - Top Destinations

      summary: Get Top Destinations By Type
      description: |-
        List the destinations by type of destination and the number of requests made
        to this destination. Return the collection in descending order.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getTopDestinationsType
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/typeDnsWebIpFirewallParam'
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopDestination'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - bandwidth: 223437
                    rank: 4
                    domain: google.com
                    count: 3827
                    counts:
                      requests: 123
                      allowedrequests: 60
                      blockedrequests: 63
                    categories:
                      - id: 66
                        label: Malware
                        type: security
                        integration: true
                    policycategories:
                      - id: 66
                        label: Malware
                        type: security
                        integration: true
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/top-urls:
    get:
      tags:
        - Top Destinations

      summary: Get Top URLs
      description: |-
        List the top number of URLs that are requested for a certain domain.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getTopUrls
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopURL'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - count: 884
                    path: /backend-api/conversation
                    categories:
                      - id: 132
                        type: content
                        label: SaaS and B2B
                        integration: false
                        deprecated: false
                    rank: 1
                  - count: 123
                    path: ""
                    categories:
                      - id: 66
                        label: Malware
                        type: security
                        integration: true
                    rank: 2
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/top-categories:
    get:
      tags:
        - Top Categories

      summary: Get Top Categories (All)
      description: |-
        List the categories that received the greatest number of requests.
        Order the number of requests in descending order.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getTopCategories
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopCategory'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - rank: 5
                    category:
                      id: 66
                      label: Malware
                      typse: security
                      integration: true
                    count: 3827
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/top-categories/{type}:
    get:
      tags:
        - Top Categories

      summary: Get Top Categories By Type
      description: |-
        List the categories for the type of traffic that received the greatest number of requests.
        Order the number of requests in descending order.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getTopCategoriesType
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/typeDnsWebIpParam'
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopCategory'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - rank: 5
                    category:
                      id: 66
                      label: Malware
                      type: security
                      integration: true
                    count: 3827
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/top-eventtypes:
    get:
      tags:
        - Top Event Types

      summary: Get Top Event Types (All)
      description: |-
        List the top event types by the number of requests made for each type of event.
        Order the number of requests in descending order.
        The valid event types are: `domain_security`, `domain_integration`,
        `url_security`, `url_integration`, `cisco_amp`, and `antivirus`.

        **Access Scope:** Reports > Aggregations > Read-Only
      operationId: getTopEventTypes
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopEventType'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - eventtype: antivirus
                    count: 3827
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/top-dns-query-types:
    get:
      tags:
        - Top DNS Query Types

      summary: Get Top DNS Query Types
      operationId: getTopDNSQueryTypes
      description: |-
        List the top types of DNS query.

        **Access Scope:** Reports > Aggregations > Read-Only
      security:
        - oauthFlow:
            - reports.aggregations:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/orderParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopDnsQueryType'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - requests: 123
                    querytype: A
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/requests-by-hour:
    get:
      tags:
        - Organization Requests by Hour

      summary: Get Requests by Hour (All)
      description: |-
        List the activity volume within the timeframe.

        **Access Scope:** Reports > Granular Events > Read-Only
      operationId: getRequestsByHour
      security:
        - oauthFlow:
            - reports.granularEvents:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RequestsbyHour'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - count: 125
                    counts:
                      requests: 125
                      allowedrequests: 60
                      blockedrequests: 63
                      connectedevents: 2
                      disconnectedevents: 0
                    timestamp: 1559836800000
                    date: "2019"
                    time: 16:00:00
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/requests-by-hour/{type}:
    get:
      tags:
        - Organization Requests by Hour

      summary: Get Requests by Hour
      description: |-
        List the activity volume within the timeframe.

        **Access Scope:** Reports > Granular Events > Read-Only
      operationId: getOrganizationRequestsByHour
      security:
        - oauthFlow:
            - reports.granularEvents:read
      parameters:
        - $ref: '#/components/parameters/typeAllParam'
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RequestsbyHour'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - count: 125
                    counts:
                      requests: 125
                      allowedrequests: 60
                      blockedrequests: 63
                      connectedevents: 2
                      disconnectedevents: 0
                    timestamp: 1559836800000
                    date: "2019"
                    time: 16:00:00
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/requests-by-timerange:
    get:
      tags:
        - Organization Requests by Timerange

      summary: Get Requests by Timerange (All)
      description: |-
        List the activity volume within the timeframe.

        **Access Scope:** Reports > Granular Events > Read-Only
      operationId: getRequestsByTimerange
      security:
        - oauthFlow:
            - reports.granularEvents:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/timerangeParam'
        - $ref: '#/components/parameters/xTrafficTypeParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: The information about the provider's requests within the timerange.
                    items:
                      $ref: '#/components/schemas/RequestsbyHour'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - count: 125
                    counts:
                      requests: 125
                      allowedrequests: 60
                      blockedrequests: 63
                      connectedevents: 2
                      disconnectedevents: 0
                    timestamp: 1559836800000
                    date: "2019"
                    time: 16:00:00
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/requests-by-timerange/{type}:
    get:
      tags:
        - Organization Requests by Timerange

      summary: Get Requests by Timerange
      description: |-
        List the activity volume within the timeframe.

        **Access Scope:** Reports > Granular Events > Read-Only
      operationId: getRequestsByTimerangeType
      security:
        - oauthFlow:
            - reports.granularEvents:read
      parameters:
        - $ref: '#/components/parameters/typeAllParam'
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/portsParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/timerangeParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RequestsbyHour'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - count: 125
                    counts:
                      requests: 125
                      allowedrequests: 60
                      blockedrequests: 63
                      connectedevents: 2
                      disconnectedevents: 0
                    timestamp: 1559836800000
                    date: "2019"
                    time: 16:00:00
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/categories-by-hour:
    get:
      tags:
        - Organization Requests by Hour and Category

      summary: Get Requests by Hour and Category (All)
      description: |-
        List the activity volume within the timeframe by type of category.

        **Access Scope:** Reports > Granular Events > Read-Only
      operationId: getRequestsByHourAndCategory
      security:
        - oauthFlow:
            - reports.granularEvents:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryByHour'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - timestamp: 1559836800000
                    date: "2019"
                    time: 16:00:00
                    counts:
                      - category:
                          id: 66
                          label: Malware
                          type: security
                          integration: true
                        requests: 123
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/categories-by-hour/{type}:
    get:
      tags:
        - Organization Requests by Hour and Category

      summary: Get Requests by Hour and Category
      description: |-
        List the activity volume for the type of category within the timeframe.

        **Access Scope:** Reports > Granular Events > Read-Only
      operationId: getRequestsByHourAndCategoryAndType
      security:
        - oauthFlow:
            - reports.granularEvents:read
      parameters:
        - $ref: '#/components/parameters/typeDnsWebIpParam'
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryByHour'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - timestamp: 1559836800000
                    date: "2019"
                    time: 16:00:00
                    counts:
                      - category:
                          id: 66
                          label: Malware
                          type: security
                          integration: true
                        requests: 123
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/categories-by-timerange:
    get:
      tags:
        - Organization Requests by Timerange and Category

      summary: Get Requests by Timerange and Category (All)
      description: |-
        List the activity volume within the timeframe by category.

        **Access Scope:** Reports > Granular Events > Read-Only
      operationId: getRequestsByTimerangeAndCategory
      security:
        - oauthFlow:
            - reports.granularEvents:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/timerangeParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryByHour'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - timestamp: 1559836800000
                    date: "2019"
                    time: 16:00:00
                    counts:
                      - category:
                          id: 66
                          label: Malware
                          type: security
                          integration: true
                        requests: 123
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/categories-by-timerange/{type}:
    get:
      tags:
        - Organization Requests by Timerange and Category

      summary: Get Requests by Timerange and Category
      description: |-
        List the activity volume within the timeframe by category.

        **Access Scope:** Reports > Granular Events > Read-Only
      operationId: getRequestsByTimerangeAndCategoryType
      security:
        - oauthFlow:
            - reports.granularEvents:read
      parameters:
        - $ref: '#/components/parameters/typeDnsWebIpParam'
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/timerangeParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryByHour'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - timestamp: 1559836800000
                    date: "2019"
                    time: 16:00:00
                    counts:
                      - category:
                          id: 66
                          label: Malware
                          type: security
                          integration: true
                        requests: 123
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/deployment-status:
    get:
      tags:
        - Deployment Status

      summary: Get Deployment Status
      description: |-
        List the deployment status within the timeframe.

        **Access Scope:** Reports > Granular Events > Read-Only
      operationId: getDeploymentStatus
      security:
        - oauthFlow:
            - reports.granularEvents:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/threatsParam'
        - $ref: '#/components/parameters/threatTypesParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeploymentStatus'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - id: 21
                    label: Sites
                    type:
                      id: 1
                      label: Sites
                      type: Sites
                    activecount: 1
                    count: 1
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/bandwidth-by-hour:
    get:
      tags:
        - Bandwidth by Hour

      summary: Get Bandwidth by Hour (All)
      description: |-
        List the bandwidth in bytes within the timeframe. Only returns proxy data.

        **Access Scope:** Reports > Granular Events > Read-Only
      operationId: getBandwidthByHour
      security:
        - oauthFlow:
            - reports.granularEvents:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
        - $ref: '#/components/parameters/ampDispositionParam'
        - $ref: '#/components/parameters/antivirusThreatsParam'
        - $ref: '#/components/parameters/dataLossPreventionStateParam'
        - $ref: '#/components/parameters/filterNoisyDomainsParam'
        - $ref: '#/components/parameters/timezoneParam'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BandwidthbyHour'
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
              example:
                data:
                  - inboundbytes: 123
                    outboundbytes: 456
                    timestamp: 1559836800000
                    date: "2019"
                    time: 16:00:00
                meta: {}
        "400":
          $ref: '#/components/responses/400Error'
        "401":
          $ref: '#/components/responses/401Error'
        "403":
          $ref: '#/components/responses/403Error'
        "404":
          $ref: '#/components/responses/404Error'
        "500":
          $ref: '#/components/responses/500Error'
  /reports/v2/bandwidth-by-timerange:
    get:
      tags:
        - Bandwidth by Timerange

      summary: Get Bandwidth by Timerange (All)
      description: |-
        List the bandwidth in bytes within the timeframe. Only returns proxy data.

        **Access Scope:** Reports > Granular Events > Read-Only
      operationId: getBandwidthByTimerange
      security:
        - oauthFlow:
            - reports.granularEvents:read
      parameters:
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/domainsParam'
        - $ref: '#/components/parameters/urlsParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/policyCategoriesParam'
        - $ref: '#/components/parameters/ipParam'
        - $ref: '#/components/parameters/identityIdsParam'
        - $ref: '#/components/parameters/identityTypesParam'
        - $ref: '#/components/parameters/applicationIdParam'
        - $ref: '#/components/parameters/verdictParam'
        - $ref: '#/components/parameters/sha256Param'
        - $ref: '#/components/parameters/securityOverriddenParam'
        - $ref: '#/components/parameters/bundleIdParam'
[...]
